<meta name="format-detection" content="telephone=no">
<section class="about">
  <div class="about-container about-container01">
    <div class="about-image"></div>
  </div>
  <div class="about-container about-container02">
    <div class="block-A">
      <div class="block-title">We are</div>
      <ul class="block-list">
        <li class="block-item">Humans</li>
        <li class="block-item">Environmentalists</li>
        <li class="block-item">Optimists</li>
        <li class="block-item">Realists</li>
        <li class="block-item">Dreamers</li>
      </ul>
    </div>
    <div class="block-B">
      <div class="block-title">We are not</div>
      <ul class="block-list">
        <li class="block-item">Slackers</li>
        <li class="block-item">Opportunists</li>
        <li class="block-item">Settlers</li>
        <li class="block-item">Corporate</li>
        <li class="block-item">Money Chaser</li>
      </ul>
    </div>
    <div class="block-C">
      <div class="block-title">What we do</div>
      <div class="block-content">
        We work hard to develop, enhance and provide you the best user experience with our stations, to make sustainability a fast, easy and effective process so your business can grow, effectively and sustainable.
      </div>
    </div>
  </div>
  <div class="about-container about-container03">
    <div class="about-container03-text">Our team is made up of creators, engineers, designers & world-class problem solvers.</div>
  </div>
  <div class="about-container about-container04">
    <div class="about-container04-row">
      <div class="member">
        <div class="member-image member-image01"></div>
        <div class="member-text" onclick="">
          <div class="member-name">Andy</div>
          <div class="member-title">CEO</div>
        </div>
        <div class="member-bgLayer" onclick=""></div>
      </div>
      <div class="member">
        <div class="member-image member-image02"></div>
        <div class="member-text" onclick="">
          <div class="member-name">Lode</div>
          <div class="member-title">Engineering</div>
        </div>
        <div class="member-bgLayer" onclick=""></div>
      </div>      
      <div class="member">
        <div class="member-image member-image03"></div>
        <div class="member-text" onclick="">
          <div class="member-name">Pau</div>
          <div class="member-title">Graphic Design</div>
        </div>
        <div class="member-bgLayer" onclick=""></div>

      </div>      
      <div class="member">
        <div class="member-image member-image04"></div>
        <div class="member-text" onclick="">
          <div class="member-name">Ash</div>
          <div class="member-title">Coding Master</div>
        </div>
        <div class="member-bgLayer" onclick=""></div>
      </div>      
      <div class="member">
        <div class="member-image member-image05"></div>
        <div class="member-text" onclick="">
          <div class="member-name">Jack</div>
          <div class="member-title">Engineering</div>
        </div>
        <div class="member-bgLayer" onclick=""></div>
      </div>      
      <div class="member">
        <div class="member-image member-image06"></div>
        <div class="member-text" onclick="">
          <div class="member-name">Daniel</div>
          <div class="member-title">Engineering</div>
        </div>
        <div class="member-bgLayer" onclick=""></div>
      </div>
      <div class="company">
        <div class="company-logo"></div>
      </div>
    </div>
  </div>
  
</section> 

<style>
  @charset "UTF-8";
  .about{
    width: 100%;
  }
  .about-container01{
    min-height: 80rem;
    height: 80vh;
    max-height: 80rem;
    margin-top: -50px;
  }
  .about-image{
    height: 100%;
    background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/About-bg.png?v=1684362151");
    {% comment %} background-image: url(../assets/About-bg.png); {% endcomment %}
    background-size: cover;
    background-position: bottom right;
  }
  .about-container02{
    width: 100%;
    max-width: 1950px;
    min-width: 320px;
    margin: 0 auto;
    display: grid;

    grid-template-columns: 2fr 2fr 2.5fr;
    grid-template-rows: 42rem;
    grid-auto-flow: row;
    grid-auto-rows: 42rem;
  }

  .block-A, .block-B{
    background: var(--color-bubbles);
    padding: 6rem 3rem;
  }

  .block-C{
    padding: 6rem 2rem;
  }

  .block-title{
    font-size: 4rem;
    color: var(--color-dark-blue);
    font-weight: 700;
    width: 30rem;
    margin: 0 auto 1rem auto;
  }

  .block-list{
    list-style: none;
    color: var(--color-dark-blue);
    font-size: 2rem;
    line-height: 1.8;
    width: 30rem;
    margin: 0 auto;
  }

  .block-content{
    color: var(--color-dark-blue);
    width: 28rem;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 1.5;
  }

  .about-container03{
    width: 100%;
    padding: 5rem 0rem;
  }

  .about-container03-text{
    width: 80rem;
    margin: 0 auto;
    color: var(--color-dark-blue);
    font-weight: 700;
    font-size: 4.5rem;
  }

  .about-container04{
    width: 100%;
  }

  .about-container04-row{
    height: auto;
    max-width: 1650px;
    min-width: 300px;
    margin: 0 auto;
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(2, 400px);
    grid-auto-flow: row;
    grid-auto-rows: 400px;
    grid-gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  .member{
    border-radius: 25px;
    overflow: hidden;
    position: relative;
  }
  .member-image{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: top center;
  }
  .member-image01{
    background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Member-Andy.png?v=1684362149");
    {% comment %} background-image: url(../assets/Member-Andy.png); {% endcomment %}
  }
  .member-image02{
    background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Member-Lode.png?v=1684362150");
    {% comment %} background-image: url(../assets/Member-Lode.png); {% endcomment %}
  }
  .member-image03{
    background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Member-Pau.png?v=1684362150");
    {% comment %} background-image: url(../assets/Member-Pau.png); {% endcomment %}
  }
  .member-image04{
    background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Member-Ash.png?v=1684362149");
    {% comment %} background-image: url(../assets/Member-Ash.png); {% endcomment %}
  }
  .member-image05{
    background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Member-Jack.png?v=1684362149");
    {% comment %} background-image: url(../assets/Member-Jack.png); {% endcomment %}
  }
  .member-image06{
    background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Member-Daniel.png?v=1684362149");
    {% comment %} background-image: url(../assets/Member-Daniel.png); {% endcomment %}
  }
  .member-bgLayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
  }

  .member-bgLayer:hover{
    background-color: unset;
  }

  .member-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    color: var(--color-white);
    text-align: center;
    z-index: 100;
  }

  .member-text:hover + .member-bgLayer{
    background: unset;
  }

  .member-name{
    font-weight: 700;
    font-size: 3rem;
    pointer-events: none;
  }

  .member-title{
    font-size: 2.5rem;
    pointer-events: none;
  }

  .company{
    grid-column: auto / span 2;
    background: var(--color-bubbles);
    border-radius: 25px;
    position: relative;
  }

  .company-logo{
    width: 20rem;
    height: 15.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/About-logo.png?v=1684362149");
    {% comment %} background-image: url(../assets/About-logo.png); {% endcomment %}
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* 1000px tab-land*/
  @media only screen and (max-width: 62.5em){
    .block-title{
      font-size: 3rem;
      width: 23rem;
      margin: 0 auto 1rem auto;
    }
    .block-list{
      font-size: 1.8rem;
      width: 23rem;
      margin: 0 auto;
    }
    .block-C .block-content{
      width: 23rem;
      margin: 0 auto;
      font-size: 1.6rem;
      line-height: 1.5;
    }
  }
  /* 800px tab-port*/
  @media only screen and (max-width: 50em){
      .block-A, .block-B{
        padding: 6rem 2rem;
      }
      .block-content{
        width: unset;
      }
      .about-container02{
        grid-template-columns: .5fr .5fr 1fr;
      }
  }
  /* 715px */
  @media only screen and (max-width: 44.6875em){
    .about-container04-row{
      width: 350px;
      min-width: auto;
      grid-template-columns: 350px;
      grid-template-rows: 400px;
      grid-auto-rows: 400px;
    }
    .company{
      grid-column: span 1;
    }
  }
  /*700px*/ 
  @media only screen and (max-width: 43.75em){
    .block-A{
      padding: 6rem 3rem;
    }
    .block-title{
      width: 20rem;
    }
    .block-A .block-title, .block-A .block-content{
      width: 18rem;
    }
    .block-C .block-content, .block-content{
      width: 20rem;
    }
    .block-list{
      width: 20rem;
    }
    .about-container03-text{
      width: 80%;
      font-size: 3rem;
    }
  }
  /* 600px */
  @media only screen and (max-width: 37.5em){
    .about-container02{
      display: unset;
    }
    .block-A, .block-B{
      background: var(--color-bubbles);
      padding: 3rem 3rem;
    }
    .block-C{
      padding: 3rem 3rem;
    }
    .block-title, .block-content, .block-list{
      width: 50% !important;
    }
  }
  /*400px*/
  @media only screen and (max-width: 25em){
    .block-title, .block-content, .block-list{
      width: 80% !important;
    }
    .about-container03-text{
      width: 90%;
    }
    .about-container04-row{
      width: 250px;
      min-width: auto;
      grid-template-columns: 250px;
      grid-template-rows: 300px;
      grid-auto-rows: 300px;
      margin-top: 0;
    }
    .member-image{
      background-position: center;
    }
  }

</style>



{% javascript %}
{% endjavascript %}
