<meta name="format-detection" content="telephone=no">
<section class="contact">
    <div class="contact-imageContainer">
        <div class="contact-bg"></div>
        <div class="contact-bgLayer"></div>
        <div class="contact-outerBound">
            <div class="contact-titleContainer">
                <h1 class="main-title">Let's get in touch</h1>
                <div class="sub-title">We can't wait to see what Soapstand can do for you</div>
            </div>
        </div>
    </div>
    <div class="form">
        <div class="contact-formL">
            {% form 'contact' %}
                <div class="form-title">Send us a direct message</div>
                {% if form.posted_successfully? %}
                    <p class="form-success">
                        Thank you! The Soapstand team will be in contact with you shortly!
                    </p>
                {% else %}
                    <div class="input-row">
                        <div class="first-name input-field">
                            <input type="text" name="contact[first-name]" class="name__input input-input" id="first-name" placeholder="First Name" required/>
                            <label for="first-name" class="name__label input-label">First Name</label>
                        </div>
                        <div class="last-name input-field">
                            <input type="text" name="contact[last-name]" class="name__input input-input" id="last-name" placeholder="Last Name" required/>
                            <label for="last-name" class="name__label input-label">Last Name</label>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="phone input-field">
                            <input type="tel" pattern="\+?[\d]{5,40}" name="contact[phone]" class="phone__input input-input" id="phone" placeholder="Phone" required/>
                            <label for="phone" class="phone__label input-label">Phone</label>
                        </div>
                        <div class="email input-field">
                            <input type="email" name="contact[email]" class="email__input input-input" id="email" placeholder="Email" required/>
                            <label for="email" class="email__label input-label">Email</label>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="country input-field">
                            <input type="text" name="contact[country]" class="name__input input-input" id="country" placeholder="Country" required/>
                            <label for="country" class="name__label input-label">Country</label>
                        </div>
                        <div class="city input-field">
                            <input type="text" name="contact[city]" class="name__input input-input" id="last-city" placeholder="City" required/>
                            <label for="last-city" class="name__label input-label">City</label>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="organization input-field">
                            <input type="text" name="contact[organization]" class="organization__input input-input" id="organization" placeholder="Group or Company" required/>
                            <label for="organization" class="organization__label input-label">Group or Company</label>
                        </div>
                        <div class="how input-field">
                            <input type="text" name="contact[[how did you hear about us?]]" class="name__input input-input" id="how-hear" placeholder="How did you hear about us?" required/>
                            <label for="how-hear" class="name__label input-label">How did you hear about us?</label>
                        </div>
                    </div>
                    <div class="message">
                        <textarea name="contact[body]" id="message" class="message__input" placeholder="Your message..." required></textarea>
                        <label for="message" class="message__label">Your message</label>
                    </div>
                    <div class="submit">
                        <input class="btn-contact" type="submit" value="submit" />            
                    </div>
                {% endif %}
            {% endform %}
        </div>
        <div class="contact-formR">
            <div class="form-title">Contact Info</div>
            <div class="contact-formR-info">
                <div class="contact-info contact-email">
                    <i class="fa-regular fa-envelope"></i>
                    <div class="contact-emailAddress">sales@soapstand.com</div>            
                </div>
                <div class="contact-info contact-mobile">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <div class="contact-mobileNumber">604-283-5311</div>
                </div>
            </div>
            <div class="contact-formR-socialMedia">
                <ul class="contact-formR-socialList">
                    {% if section.settings.include_facebook %}
                        <a href="{{ section.settings.facebook-link }}"><li class="contact-socials__item"><i class="fa-brands fa-facebook"></i></li></a>
                    {% endif %}
                    {% if section.settings.include_instagram %}
                        <a href="{{ section.settings.instagram-link }}"><li class="contact-socials__item"><i class="fa-brands fa-instagram"></i></li></a>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="contact-bgIcon"></div>
    </div>

</section> 

<style>
    .contact{
        width: 100%;
    }
    .contact-imageContainer{
        width: 100%;
        height: 150vh;
        min-height: 150rem;
        max-height: 155rem;
        position: relative;
        margin-top: -5rem;
    }
    .contact-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Contact-bg.png?v=1684362151");
        background-size: cover;
        background-position: top;
    }
    .contact-bgLayer{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #00000059;
    }
    .contact-outerBound{
        max-width: 1650px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 4rem;
    }
    .contact-titleContainer{
        padding: 20rem 0;
        position: absolute;
        top: 20%;
        width: 60rem;
        color: white;
    }
    .main-title{
        font-size: 6rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    .sub-title{
        font-weight: 400;
        font-size: 3.5rem;
    }
    .form{
        max-width: 131rem;
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: var(--color-water);
        margin-top: -50rem;
        margin-bottom: 20rem;
        position: relative;
        font-family: "Montserrat", sans-serif;
        padding: 6rem 6vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .contact-formL{
        width: 58%;
    }
    .contact-formR{
        width: 38%;
        padding: 0 3rem;
    }
    .form-title{
        font-size: 3rem;
        color: var(--color-white);
        margin-bottom: 5rem;
    }
    .input-row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 0.5rem;
    }
    .input-field{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 48%;
    }
    .input-label{
        color: var(--color-white);
        font-size: 1.4rem;
        padding-left: 0.2rem;
        -webkit-transform: translateY(-5rem);
            -ms-transform: translateY(-5rem);
                transform: translateY(-5rem);
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .input-input{
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid var(--color-white);
        border-radius: 0;
        -webkit-border-radius:0px;
        background: transparent;
        outline: 0;
        padding: 1em 1em 0.5em 0.3rem;
        color: var(--color-white);
        font-family: "Montserrat", sans-serif;
    }
    .input-input::-webkit-input-placeholder{
        color: var(--color-white);
        font-size: 1.4rem;
        font-family: "Montserrat", sans-serif;
    }
    .input-input::-moz-placeholder{
        color: var(--color-white);
        font-size: 1.4rem;
        font-family: "Montserrat", sans-serif;
    }
    .input-input:-ms-input-placeholder{
        color: var(--color-white);
        font-size: 1.4rem;
        font-family: "Montserrat", sans-serif;
    }
    .input-input::-ms-input-placeholder{
        color: var(--color-white);
        font-size: 1.4rem;
        font-family: "Montserrat", sans-serif;
    }
    .input-input::placeholder{
        color: var(--color-white);
        font-size: 1.4rem;
        font-family: "Montserrat", sans-serif;
    }
    .input-input:-moz-placeholder-shown + .input-label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2rem);
    }
    .input-input:-ms-input-placeholder + .input-label{
        opacity: 0;
        visibility: hidden;
        -ms-transform: translateY(-2rem);
            transform: translateY(-2rem);
    }
    .input-input:placeholder-shown + .input-label{
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-2rem);
            -ms-transform: translateY(-2rem);
                transform: translateY(-2rem);
    }
    .input-input:focus{
        outline: none;
    }
    .phone__input:not(:-moz-placeholder-shown):invalid, .email__input:not(:-moz-placeholder-shown):invalid{
        border-bottom: 2px solid #C75052;     
    }

    .phone__input:not(:-ms-input-placeholder):invalid, .email__input:not(:-ms-input-placeholder):invalid{
        border-bottom: 2px solid #C75052;     
    }

    .phone__input:not(:placeholder-shown):invalid, 
    .email__input:not(:placeholder-shown):invalid{
        border-bottom: 2px solid #C75052;     
    }
    .how{
        margin-bottom: 3rem;
    }
    .message{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .message__input{
        outline: 2px solid white;
        border: none;
        background: transparent;
        height: 20rem;
        font-family: "Montserrat", sans-serif;
        font-size: 1.6rem;
        color: var(--color-white);
        padding: .75rem .75rem 0 .75rem;
    }
    .message__input::-webkit-input-placeholder{
        color: var(--color-white);
    }
    .message__input::-moz-placeholder{
        color: var(--color-white);
    }
    .message__input:-ms-input-placeholder{
        color: var(--color-white);
    }
    .message__input::-ms-input-placeholder{
        color: var(--color-white);
    }
    .message__input::placeholder{
        color: var(--color-white);
    }
    .message__label{
        color: var(--color-white);
        font-size: 1.6rem;
        padding-left: 0.2rem;
        -webkit-transform: translateY(-23rem);
            -ms-transform: translateY(-23rem);
                transform: translateY(-23rem);
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .message__input:-moz-placeholder-shown + .message__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-21rem);
    }
    .message__input:-ms-input-placeholder + .message__label{
        opacity: 0;
        visibility: hidden;
        -ms-transform: translateY(-21rem);
            transform: translateY(-21rem);
    }
    .message__input:placeholder-shown + .message__label{
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-21rem);
            -ms-transform: translateY(-21rem);
                transform: translateY(-21rem);
    }
    .submit{
        text-align: right;
    }
    .btn-contact{
        margin-top: 1rem;
        border: 2px solid var(--color-white);
        background: transparent;
        padding: .5rem 3.5rem;
        font-size: 1.8rem;
        color: white;
        border-radius: 25px;
        line-height: 26px;
        cursor: pointer;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }
    .btn-contact:hover{
        color: #fffdfa;
        -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        background: -o-linear-gradient(left, var(--color-dark-blue) 0%, var(--color-bubbles) 100%) border-box;
        background: -webkit-gradient(linear, left top, right top, from(var(--color-dark-blue)), to(var(--color-bubbles))) border-box;
        background: linear-gradient(to right, var(--color-dark-blue) 0%, var(--color-bubbles) 100%) border-box;
        border: 2px solid transparent;
    }
    .contact-info{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto 5rem auto;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: var(--color-white);
    }
    .contact-info i{
        font-size: 4rem;
        width: 15%;
        text-align: center;
        margin-right: 2rem;
    }
    .contact-emailAddress, .contact-mobileNumber{
        font-size: 1.8rem;
        font-weight: 400;
    }
    .contact-formR-socialList{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        margin-top: 10vh;
        padding-left: 1rem;
    }
    .contact-socials__item{
        color: var(--color-white);
        font-size: 4rem;
        padding-right: 4rem;
        text-align: center;
    }
    .contact-socials__item:hover {
        opacity: 0.7;
    }
    .contact-bgIcon{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 30rem;
        width: 30rem;
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Contact-bgIcon.png?v=1685388061");
        background-size: contain;
    }
    .form-success{
        padding: 2em 3em;
        background: -o-linear-gradient(269.4deg, #004E59 -44.87%, #246770 -7.09%, #66949B 57.12%, #9CBABE 121.34%, #C7D8DA 181.78%, #E5EDEE 234.67%, #F8FAFA 280%, #fffdfa 310.22%);
        background: linear-gradient(180.6deg, #004E59 -44.87%, #246770 -7.09%, #66949B 57.12%, #9CBABE 121.34%, #C7D8DA 181.78%, #E5EDEE 234.67%, #F8FAFA 280%, #fffdfa 310.22%);
        border-radius: 10px;
        color: #fffdfa;
        opacity: .8;
        font-size: 1.8rem;
        position: relative;
    }

  /* 800px tab-port*/
  @media only screen and (max-width: 50em){
    .contact-titleContainer{
        width: 50rem;
    }
    .main-title{
        font-size: 5rem;
    }
    .sub-title{
        font-size: 2.8rem;
    }
  }
  /*700px*/ 
  @media only screen and (max-width: 43.75em){
    .form{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .form-title{
        margin-bottom: 3rem;
    }
    .contact-formL{
        width: 90%;
        margin: 0 auto;
    }
    .contact-formR{
        width: 90%;
        margin: 0 auto;
        padding: unset;
    }
    .contact-info{
        margin: 0 5rem 2rem 0;
    }
    .contact-info i{
        text-align: left;
        width: 8%;
    }
    .contact-formR-socialList{
        margin-top: 2vh;
        padding-left: 0;
    }
    .form-success{
        padding: 1em 2em;
        margin-bottom: 2rem;
    }
  }

  /*500px*/
  @media only screen and (max-width: 31.25em){
    .contact-imageContainer{
        min-height: 95rem;
        max-height: 125rem;
        margin-top: -5rem;
    }
    .contact-titleContainer{
        width: 40rem;
    }
    .form{
        margin-top: -30rem;
        margin-bottom: 0;
    }
    .main-title{
        font-size: 4rem;
    }
    .sub-title{
        font-size: 2.2rem;
    }
    .input-row{
        display: block;
    }
    .input-field{
        width: 100%;
    }
    .contact-info i{
        font-size: 3.2rem;
        text-align: unset;
    }
    .contact-socials__item{
        font-size: 3.2rem;
    }
    .btn-contact{
        font-size: 1.4rem;
        padding: .4rem 3rem;
    }
  }
  /*400px*/
  @media only screen and (max-width: 25em){
    .contact-outerBound{
        padding: 0 2rem;
    }
    .contact-titleContainer{
        width: 90%;
    }
    .main-title{
        font-size: 3.5rem;
    }
    .sub-title{
        width: 90%;
        font-size: 2rem;
    }
    .contact-formR{
        margin-top: 3rem;
    }
  }
</style>

{% schema %}
    {
        "name": "Contact",
        "settings": [
            {
                "type": "checkbox",
                "id": "include_facebook",
                "label": "Show Facebook link icon",
                "default": true
            },
            {
                "type": "text",
                "id": "facebook-link",
                "label": "Facebook Link",
                "default": "https://www.facebook.com/TheSoapstand"
            },
            {
                "type": "checkbox",
                "id": "include_instagram",
                "label": "Show Instagram link icon",
                "default": true
            },
            {
                "type": "text",
                "id": "instagram-link",
                "label": "Instagram Link",
                "default": "https://www.instagram.com/soapstandco"
            }
        ]
    }
{% endschema %}
