<section class="footer" id="footer">
    <div class="footerContainer footer__row">
        <ul class="footer-list">
            {% for link in linklists.b2bmenu.links -%}
                <li class="footer-item">
                    {{ link.title | link_to: link.url }}
                </li>
            {%- endfor %}
        </ul>
        <div class="footer-nameContainer">
            <div class="footer-name"></div>
        </div>
        <div class="footer-copyRight">All rights reserved Soapstand Co.</div>
        <div class="footer-logoContainer">
            <div class="footer-logo"></div>
        </div>
    </div>
</section>


<style>
    .footer{
        margin-top: auto;
        background: var(--color-dark-blue);
        width: 100%;
        height: 25vh;
        min-height: 37rem;
        position: relative;
    }
    .footerContainer{
        width: 80%;
        height: 100%;
        max-width: 1450px;
        min-width: 320px;
        margin: 0 auto;
        padding: 7rem 0 0 0;
    }
    .footer-logoContainer{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 30rem;
        width: 30rem;
    }
    .footer-logo{
        background-image:: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Footer-logo.png?v=1684362149");
        {% comment %} background-image: url(../assets/Footer-logo.png); {% endcomment %}
        height: 100%;
        background-size: cover;
        background-position: right;
    }
    .footer-list{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;
        font-size: 2rem;
        padding: 0 10rem;
    }
    .footer-item{
        list-style: none;
    }
    .footer-item:not(:last-child){
        margin-right: 5rem;
    }
    .footer-item a{
        color: white;
        text-decoration: none;
    }
    .footer-nameContainer{
        width: 27rem;
        height: 2.4rem;
        position: absolute;
        bottom: 40%;
    }
    .footer-name{
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Footer-name.png?v=1684362149");
        {% comment %} background-image: url(../assets/Footer-name.png); {% endcomment %}
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }
    .footer-copyRight{
        position: absolute;
        text-align: center;
        bottom: 5rem;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 1.6rem;
    }
    /* 1200px tab-land*/
    @media only screen and (max-width: 75em){
        .footer-list{
            padding: 0 5rem;
        }
    }
    /* 800px tab-port*/
    @media only screen and (max-width: 50em){
        .footer-list{
            padding: 0 0rem;
        }
    }
    /*700px*/ 
    @media only screen and (max-width: 43.75em){
    }
    /* 600px */
    @media only screen and (max-width: 37.5em){
        .footerContainer{
            width: 90%;
            min-width: 0%;
        }
        .footer-logoContainer{
            width: 20rem;
            height: 20rem;
        }
        .footer-list{
            margin-top: 2rem;
            align-items: flex-start;
            flex-direction: column;
        }
        .footer-item{
            margin-bottom: 2rem;
        }
        .footer-nameContainer{
            bottom: unset;
            top: 10%;
            left: 5vw;
            width: 20rem;
            height: 1.8rem;
        }
    }
    /*400px*/
    @media only screen and (max-width: 25em){
        .footer{
            min-height: 35rem;
        }
        .footer-copyRight{
            bottom: 2rem;
        }
    }
</style>