<section class="footer" id="footer">
    <div class="footerContainer footer__row">
        <div class="footer-listContainer">
            <ul class="footer-list footer-list01">
                {% for link in linklists.b2bmenu.links -%}
                    <li class="footer-item">
                        {{ link.title | link_to: link.url }}
                    </li>
                {%- endfor %}
                <li class="footer-item">
                    <a class="business-portal" href="http://soapstandportal.com/">business portal</a>
                </li>
            </ul>
            <ul class="footer-list footer-list02">
                <a href="https://www.facebook.com/TheSoapstand"><li class="nav-socials__item"><i class="fa-brands fa-facebook-f"></i></li></a>
                <a href="https://www.instagram.com/soapstandco"><li class="nav-socials__item"><i class="fa-brands fa-instagram"></i></li></a>
            </ul>
        </div>

        <div class="footer-nameContainer">
            <div class="footer-name"></div>
        </div>
        <div class="footer-copyRight">All rights reserved Soapstand Co.</div>
        <div class="footer-logoContainer">
            <div class="footer-logo"></div>
        </div>
    </div>
</section>


<style>
    .footer{
        margin-top: auto;
        background: var(--color-dark-blue);
        width: 100%;
        height: 30vh;
        min-height: 37rem;
        position: relative;
    }
    .footerContainer{
        width: 80%;
        height: 100%;
        max-width: 1450px;
        min-width: 320px;
        margin: 0 auto;
        padding: 7rem 0 0 0;
    }
    .footer-logoContainer{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 30rem;
        width: 30rem;
    }
    .footer-logo{
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Footer-logo.png?v=1684362149");
        height: 100%;
        background-size: cover;
        background-position: right;
    }
    .footer-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        margin: 0 auto;
        font-size: 2rem;
        padding: 0 10rem;
    }
    .footer-list02{
        list-style: none;
        margin-top: 3rem;
    }
    .footer-item{
        list-style: none;
    }
    .footer-item:not(:last-child){
        margin-right: 5rem;
    }
    .footer-item a{
        color: white;
        text-decoration: none;
    }
    .footer-list02 a{
        font-size: 2.2rem;
        color: white;
    }
    .footer-nameContainer{
        width: 27rem;
        height: 2.4rem;
        position: absolute;
        bottom: 40%;
    }
    .footer-name{
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Footer-name.png?v=1684362149");
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }
    .footer-copyRight{
        position: absolute;
        text-align: center;
        bottom: 5rem;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        color: var(--color-bubbles);
        font-size: 1.6rem;
    }
    /* 1200px tab-land*/
    @media only screen and (max-width: 75em){
        .footer-list{
            padding: 0 5rem;
        }
    }
    /* 800px tab-port*/
    @media only screen and (max-width: 50em){
        .footer-list{
            padding: 0 0rem;
        }
    }
    /*700px*/ 
    @media only screen and (max-width: 43.75em){
    }
    /* 600px */
    @media only screen and (max-width: 37.5em){
        .footerContainer{
            width: 90%;
            min-width: 0%;
        }
        .footer-logoContainer{
            width: 20rem;
            height: 20rem;
        }
        .footer-list{
            margin-top: 2rem;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        .footer-list02{
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
        }
        .footer-list02 a{
            margin-right: 1rem;
        }
        .footer-item{
            margin-bottom: 2rem;
        }
        .footer-nameContainer{
            bottom: unset;
            top: 10%;
            left: 5vw;
            width: 20rem;
            height: 1.8rem;
        }
    }
    /*400px*/
    @media only screen and (max-width: 25em){
        .footer{
            min-height: 35rem;
        }
        .footer-copyRight{
            bottom: 2rem;
        }
    }
</style>