{% if page_title == "Soapstand | Sustainable Soap Refillery Stations" %}
    <header class="header">
                                                            {% comment %} {% elsif page_title == "contact" %} {% endcomment %}
{% else %}
    <header class="header header__notHome">
{% endif %}
    <div class="container row">
        <input type="checkbox" id="navi-toggle" class="navigation__checkbox">
        {% if page_title == "Soapstand | Sustainable Soap Refillery Stations" %}
            <label class="nav-toggle" for="navi-toggle" aria-label="open navigation">
                <span class="hamburger"></span>
            </label>
            <a class="logo" href="#">
                {{ 'Logo-dark.svg' | asset_url | img_tag: 'Logo', 'logo__image' }}            
            </a>                              {% comment %} {% elsif page_title == "contact" %} {% endcomment %}
            <nav class="nav">
                <ul class="nav__list">
                    {% for link in linklists.menu.links -%}
                        <li class="nav__item">{{ link.title | link_to: link.url }}
                        </li>
                    {%- endfor %}
                </ul>
            </nav>
        {% else %}
            <label class="nav-toggle nav-toggle__notHome" for="navi-toggle" aria-label="open navigation">
                <span class="hamburger hamburger__notHome"></span>
            </label>
            <a class="logo" href="#">
                {{ 'Logo-light.svg' | asset_url | img_tag: 'Logo', 'logo__image' }}            
            </a>
            <nav class="nav nav__notHome">
                <ul class="nav__list nav__list__notHome">
                    {% for link in linklists.menu.links -%}
                        <li class="nav__item nav__item__notHome">{{ link.title | link_to: link.url }}
                        </li>
                    {%- endfor %}
                </ul>
            </nav>
        {% endif %}
        {% if section.settings.show_search%}
        <form action="/search" class="search__form">
            <input type="search" name="q">
            <button type="submit">Search</button>
        </form>
        {% endif %}
    </div>
</header>

<style>
    .header{
        padding: 1.2em 0;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
    }

    .header__notHome{
        background: #014E59;
    }

    .logo__image{
        width: 100px;
    }

    .nav{
        width: 100%;
    }

    .navigation__checkbox{
        display: none;
    }

    .nav-toggle {
        cursor: pointer;
        border: 0;
        width: 2.5em;
        height: 2.5em;
        padding: 0em;
        border-radius: 50%;
        background: #014E59;
        transition: opacity 250ms ease;
        
        position: absolute;
        top: 2em;
        left: 5%;
        transform: translate(-50%, -50%);
    }

    .nav-toggle__notHome{
        background: white;
    }
    
    .nav-toggle:focus,
    .nav-toggle:hover {
        opacity: .75;
    }

    .hamburger {
        width: 50%;
        position: relative;
        top: 50%;
    }
    
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        display: inline-block;
        margin: 0 auto;
        height: 2px;
        background: white;
        width: 1.5rem;
    }

    .hamburger__notHome,
    .hamburger__notHome::before,
    .hamburger__notHome::after {
        background: #014E59;
    }
    
    .hamburger::before,
    .hamburger::after {
        position: absolute;
        content: '';
        width: 100%;
        left: 0;
        transition: all .2s;
    }
    
    .hamburger::before {
        top: -.5rem;
    }
    
    .hamburger::after {
        top: .5rem;
    }

    .nav {
        visibility: hidden;
        height: 0;
        position: absolute;
    }

    .visible {
        visibility: visible;
        height: auto;
        position: relative;
    } 

    .nav__list{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav__item{
        margin: .75em .75em .75em 2em;
    }

    .nav__item a{
        text-decoration: none;
        color: #014E59;
        font-weight: bold;
        font-size: 22px;
    }

    .nav__item__notHome a{
        color: white;
    }

    .nav__item a:hover, .nav__item:focus{
        opacity: .75;
    }

    .search__form{
        display: flex;
        align-items: center;
        margin: auto 0;
    }

    .navigation__checkbox:checked + .nav-toggle .hamburger{
        background-color: transparent;
    }

    .navigation__checkbox:checked + .nav-toggle .hamburger::before{
        top: 0;
        transform: rotate(135deg);
    }
    
    .navigation__checkbox:checked + .nav-toggle .hamburger::after{
        top: 0;
        transform: rotate(-135deg);
    }

    @media (min-width: 950px) {
        .header{
            min-height: 15vh;
        }

        .nav-toggle {
            display: none;
        }

        .nav {
            visibility: visible;
            display: flex;
            height: auto;
            align-items: center;
            justify-content: flex-end;
        }

        .nav__list{
            display: flex;
            margin: 0;
        }
    }

    @media (max-width: 900px) {
        .nav__item{
            margin: .75em .75em .75em .75em;
        }

        .nav__item a{
            font-size: 18px;
        }

    }

</style>


{% javascript %}
    const navToggle = document.querySelector('.nav-toggle');
    const nav = document.querySelector('nav');

    navToggle.addEventListener('click', () => {
        nav.classList.toggle('visible');
    })
{% endjavascript %}

{% schema %}
    {
        "name": "Header",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_search",
                "label": "Show search form?",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "padding",
                "label": "Include padding for header?",
                "default": true
            },
            {
                "type": "color",
                "id": "header_bg",
                "label": "Background color"
            }
        ]
    }
{% endschema %}
