<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<header class="header">
    <label class="nav-toggle" for="navi-toggle" aria-label="open navigation">
    {% if page_title == "FAQ" or page_title=="how to refill (new)"%}
        <span class="hamburger hamburger--bubbles"></span>
    {% elsif page_title == "locations (new)" or page_title=="our stations" or page_title=="SS1" or page_title=="SS2" or page_title=="SS4"%}
        <span class="hamburger hamburger--dark"></span>
    {% else %}
        <span class="hamburger"></span>
    {% endif %}
    </label>
    <div class="container row">
        <a class="logo" href="https://soapstand.com">
        {% if page_title == "FAQ" or page_title=="how to refill (new)"%}
            <div class="logo__image logo__image--FAQ"></div>
            {% comment %} {{ 'Nav-logo-bubbles.png' | asset_url | img_tag: 'Logo', 'logo__image' }} {% endcomment %}
        {% elsif page_title == "locations (new)" or page_title=="our stations" or page_title=="SS1" or page_title=="SS2" or page_title=="SS4"%}
            <div class="logo__image logo__image--locations"></div>
            {% comment %} {{ '' | asset_url | img_tag: 'Logo', 'logo__image' }} {% endcomment %}
        {% else %}
            <div class="logo__image logo__image--others"></div>
            {% comment %} {{ 'Nav-logo-white.png' | asset_url | img_tag: 'Logo', 'logo__image' }}        {% endcomment %}
        {% endif %}
        </a>   
        <div class="nav-container">
        <nav class="nav">
        {% if page_title == "FAQ" or page_title=="how to refill (new)"%}
            <ul class="nav__list nav__list-FAQ">
        {% elsif page_title == "locations (new)" or page_title=="our stations" or page_title=="SS1" or page_title=="SS2" or page_title=="SS4"%}
            <ul class="nav__list nav__list-refill">
        {% else %}
            <ul class="nav__list">
        {% endif %}
                {% for link in linklists.b2bmenu.links -%}
                    <li class="nav__item">
                        {{ link.title | link_to: link.url }}
                     </li>
                {%- endfor %}
                <li class="nav__item business-portal__item">
                    <a class="business-portal" href="http://soapstandportal.com/">business portal</a>
                </li>
                <div class="nav-socials__list">
                    <a href="https://www.facebook.com/TheSoapstand"><li class="nav-socials__item"><i class="fa-brands fa-facebook-f"></i></li></a>
                    <a href="https://www.instagram.com/soapstandco"><li class="nav-socials__item"><i class="fa-brands fa-instagram"></i></li></a>
                </div>
            </ul>
        </nav>
        </div>

    </div>
</header>

<style>
    .header{
        width: 100%;
        z-index: 1000;
        margin: 0 auto;
    }

    .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 90%;
        max-width: 1350px;
        min-width: 320px;
        margin: 2rem auto 0 auto;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .logo{
        z-index: 5;
    }

    .logo__image{
        width: 4rem;
        height: 4rem;
    }
    .logo__image--FAQ{
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Nav-logo-bubbles.png?v=1686010449");
        background-size: contain;
    }
    .logo__image--locations{
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Nav-logo-dark-blue.png?v=1686005961");
        background-size: contain;
    }
    .logo__image--others{
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Nav-logo-white.png?v=1686005695");
        background-size: contain;
    }
    .nav {
        visibility: visible;
        height: auto;
    }

    .nav__list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        height: auto;
        position: unset;
        width: auto;
        background: transparent;
        overflow-y: unset;
        padding: 0;
        min-height: auto;
        max-height: auto;
        list-style: none;
        color: var(--color-white);
    }

    .nav__item{
        margin-left: 7rem;
    }

    .business-portal__item{
        display: none;
    }

    .nav__item a{
        font-family: "Montserrat";
        text-decoration: none;
        color: var(--color-white);
        font-size: 1.8rem;
        font-weight: 400;

        display: inline-block;
        position: relative;
    }

    .nav__list-FAQ .nav__item a{
        color: var(--color-bubbles);
    }
    .nav__list-refill .nav__item a{
        color: var(--color-dark-blue);
    }

    .nav__item a.business-portal{
        margin-top: 2rem;
        font-weight: 200;
    }

    .nav-socials__list{
        display: none;
    }

    .nav__item a:hover, .nav__item:focus{
        opacity: 0.75;
        color: var(--color-white);
    }

    .nav__list-refill .nav__item a:hover, .nav__list-refill .nav__item:focus{
        color: var(--color-dark-blue);
    }

    .nav__item a::after{
        content: "";
        position: absolute;
        width: 100%;
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: var(--color-white);
        -webkit-transform-origin: bottom right;
            -ms-transform-origin: bottom right;
                transform-origin: bottom right;
        -webkit-transition: -webkit-transform 0.25s ease-out;
        transition: -webkit-transform 0.25s ease-out;
        -o-transition: transform 0.25s ease-out;
        transition: transform 0.25s ease-out;
        transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
        padding-top: 2px;
    }

    .nav__list-refill .nav__item a::after{
        background-color: var(--color-dark-blue);
    }
    .nav__item a:hover::after{
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
                transform-origin: bottom left;
    }

    .business-portal__item a.business-portal:hover{
        color: #94B7B8;
        opacity: 0.75;
    }

    .business-portal__item a.business-portal:hover::after{
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0);
    }

    .search__form{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: auto 0;
    }

    @media only screen and (max-width: 800px){
        .nav__item{
            margin-left: 4rem;
        }
    }
    @media only screen and (max-width: 600px){
        .refill-toggle{
            background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Nav-logo-white.png?v=1686005695");
            background-size: contain;
        }
        .nav-toggle {
            cursor: pointer;
            border: 0;
            width: 2.5em;
            height: 2.5em;
            padding: 0em;
            border-radius: 50%;
            -webkit-transition: opacity 250ms ease;
            -o-transition: opacity 250ms ease;
            transition: opacity 250ms ease;
            
            position: absolute;
            top: 3em;
            right: 2rem;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
        .hamburger {
            width: 50%;
            position: relative;
            top: 50%;
        }
        
        .hamburger,
        .hamburger::before,
        .hamburger::after {
            display: inline-block;
            margin: 0 auto;
            height: 2px;
            background: #fffdfa;
            width: 2rem;
        }
        .hamburger--bubbles,
        .hamburger--bubbles::before,
        .hamburger--bubbles::after {
            background: var(--color-bubbles);
        }
        .hamburger--dark,
        .hamburger--dark::before,
        .hamburger--dark::after {
            background: var(--color-dark-blue);
        }
        .hamburger::before,
        .hamburger::after {
            position: absolute;
            content: '';
            width: 100%;
            left: 0;
            -webkit-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;
        }
        .hamburger::before {
            top: -.75rem;
        }
        
        .hamburger::after {
            top: .75rem;
        }
        nav{
            width: 100%;
            height: 100% !important;
        }
        .nav-container{
            height: 50vh;
            min-height: 55rem;
            width: 60%;
            background: #005560;
            position: absolute;
            left: -60rem;
            -webkit-transition: .2s all;
            -o-transition: .2s all;
            transition: .2s all;
        }
        .row{
            position: relative;
            display: block;
            margin: 0;
        }
        .logo{
            position: absolute;
            top: 2rem;
            left: 3rem;
        }
        .nav__list{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            height: 50rem;
            width: 100%;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            padding-top: 7rem;
        }
        .nav__list-refill .nav__item a{
            color: var(--color-white);
        }
        .nav__list-refill .nav__item a:hover, .nav__list-refill .nav__item:focus{
            color: var(--color-white);
        }
        .nav__list-refill .nav__item a::after{
            background-color: var(--color-white);
        }
        .nav__item{
            margin-left: 0;
        }
        .business-portal__item{
            display: inline-block;
        }
        .nav-socials__list{
            width: 100%;
            max-width: 200px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                    justify-content: space-evenly;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }

        .nav-socials__list a {
            color: var(--color-white);
            font-size: 2.3rem;
        }
        .nav-socials__list a:hover{
            opacity: 0.5;
            color: var(color-bubbles);
            text-shadow: 3px 2px 2px rgba(76, 130, 140, 0.2);
        }
        .menu-appear{
            left: 0 !important;
        }
    }

    @media only screen and (max-width: 500px){
        .logo__image{
            height: 3rem;
            width: 3rem;
        }
    }
    

</style>


{% javascript %}
    const navToggle = document.querySelector('.nav-toggle');
    const navContainer = document.querySelector('.nav-container');
    const logoImage = document.querySelector('.logo__image--locations');
    document.getElementsByClassName("nav-toggle").addEventListener('click', () => {
            navContainer.classList.toggle('menu-appear');
            logoImage.classList.toggle('refill-toggle');
    });

{% endjavascript %}


