<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<header class="header">
    <label class="nav-toggle" for="navi-toggle" aria-label="open navigation">
        <span class="hamburger"></span>
    </label>
    <div class="container row">
        <a class="logo" href="https://soapstand.com">
        {% if page_title == "FAQ" %}
            {{ 'Nav-logo-bubbles.png' | asset_url | img_tag: 'Logo', 'logo__image' }}       
        {% else %}
            {{ 'Nav-logo-white.png' | asset_url | img_tag: 'Logo', 'logo__image' }}       
        {% endif %}
        </a>   
        <div class="nav-container">
        <nav class="nav">
        {% if page_title == "FAQ" %}
            <ul class="nav__list nav__list-FAQ">
        {% else %}
            <ul class="nav__list">
        {% endif %}
                {% for link in linklists.b2bmenu.links -%}
                    <li class="nav__item">
                        {{ link.title | link_to: link.url }}
                     </li>
                {%- endfor %}
            </ul>
        </nav>
        </div>

    </div>
</header>

<style>
    .header{
        width: 100%;
        z-index: 1000;
        margin: 0 auto;
    }

    .row{
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 1350px;
        min-width: 320px;
        margin: 2rem auto 0 auto;
        align-items: center;
    }

    .logo{
        z-index: 5;
    }

    .logo__image{
        width: 4rem;
        height: 4rem;
    }

    .nav {
        visibility: visible;
        height: auto;
    }

    .nav__list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        height: auto;
        position: unset;
        width: auto;
        background: transparent;
        overflow-y: unset;
        padding: 0;
        min-height: auto;
        max-height: auto;
        list-style: none;
        color: var(--color-white);
    }

    .nav__item{
        margin-left: 10rem;
    }

    .nav__item a{
        font-family: "Montserrat";
        text-decoration: none;
        color: var(--color-white);
        font-size: 2rem;
        font-weight: 400;

        display: inline-block;
        position: relative;
    }

    .nav__list-FAQ .nav__item a{
        color: var(--color-bubbles);
    }

    .nav__item a.business-portal{
        font-weight: 400;
    }

    .nav__item a:hover, .nav__item:focus{
        opacity: 0.75;
        color: var(--color-white);
    }

    .nav__item a::after{
        content: "";
        position: absolute;
        width: 100%;
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: var(--color-white);
        -webkit-transform-origin: bottom right;
            -ms-transform-origin: bottom right;
                transform-origin: bottom right;
        -webkit-transition: -webkit-transform 0.25s ease-out;
        transition: -webkit-transform 0.25s ease-out;
        -o-transition: transform 0.25s ease-out;
        transition: transform 0.25s ease-out;
        transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
        padding-top: 2px;
    }

    .nav__item a:hover::after{
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
                transform-origin: bottom left;
    }

    .business-portal__item a.business-portal:hover{
        color: #94B7B8;
        opacity: 0.75;
    }

    .business-portal__item a.business-portal:hover::after{
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0);
    }

    .search__form{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: auto 0;
    }

    @media only screen and (max-width: 800px){
        .nav__item{
            margin-left: 5rem;
        }
    }
    @media only screen and (max-width: 600px){
        .nav-toggle {
            cursor: pointer;
            border: 0;
            width: 2.5em;
            height: 2.5em;
            padding: 0em;
            border-radius: 50%;
            -webkit-transition: opacity 250ms ease;
            -o-transition: opacity 250ms ease;
            transition: opacity 250ms ease;
            
            position: absolute;
            top: 3em;
            right: 2rem;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
        .hamburger {
            width: 50%;
            position: relative;
            top: 50%;
        }
        
        .hamburger,
        .hamburger::before,
        .hamburger::after {
            display: inline-block;
            margin: 0 auto;
            height: 2px;
            background: #fffdfa;
            width: 2rem;
        }
        .hamburger::before,
        .hamburger::after {
            position: absolute;
            content: '';
            width: 100%;
            left: 0;
            -webkit-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;
        }
        .hamburger::before {
            top: -.75rem;
        }
        
        .hamburger::after {
            top: .75rem;
        }
        nav{
            width: 100%;
            height: 100% !important;
        }
        .nav-container{
            height: 60vh;
            min-height: 55rem;
            width: 60%;
            background: #005560;
            position: absolute;
            left: -60rem;
            transition: .2s all;
        }
        .row{
            position: relative;
            display: block;
            margin: 0;
        }
        .logo{
            position: absolute;
            top: 2rem;
            left: 3rem;
        }
        .nav__list{
            flex-direction: column;
            height: 40rem;
            width: 100%;
            align-items: center;
            justify-content: space-around;
            padding-top: 7rem;
        }
        .nav__item{
            margin-left: 0;
        }

        .menu-appear{
            left: 0 !important;
        }
    }

    @media only screen and (max-width: 500px){
        .logo__image{
            height: 3rem;
            width: 3rem;
        }
    }
    

</style>


{% javascript %}
    const navToggle = document.querySelector('.nav-toggle');
    const navContainer = document.querySelector('.nav-container');
    navToggle.addEventListener('click', () => {
            console.log("test");
            navContainer.classList.toggle('menu-appear');
    });

{% endjavascript %}


