<section class="hero--home">
    <section class="homepage01">
        <div class="homepage-container homepage01-container01">
            <div class="homepage-bg"></div>
            <div class="homepage-bgLayer"></div>
            <div class="homepage-titleLayer">
                <div class="homepage01-title">Zero-waste refill made fast and easy</div>
            </div>
            {{ 'Homepage-logo.png' | asset_url | img_tag: 'homepage background logo', 'homepage-logo' }} 
        </div>
        <div class="homepage-container homepage01-container02">
            <div class="homepage01-subtitle">
                <div class="homepage01-subtitle01">Scale your impact</div>
                <div class="homepage01-subtitle02">Your zero waste business in a box</div>    
            </div> 
        </div>
        <div class="homepage-container homepage01-container03">
            <div class="homepage-02bg"></div>
        </div>
        <div class="homepage-container homepage01-container03slider">
            <div class="about-contact__slide">
                <div class="slide slide--1">
                  <div class="slide-content">
                    <h3 class="slide-title">The Entrepeneur</h3>
                    <div class="slide-body">We know exactly how hard it is to run a zero-waste business, so we created Soapstand for you. Grow your business with this smart refillery while saving time and money.</div>
                  </div>
                </div>
                <div class="slide slide--2">
                  <div class="slide-content">
                    <h3 class="slide-title">Retail & Grocery</h3>
                    <div class="slide-body">With your customers becoming more conscious about their plastic usage, Soapstand is a great way to make both a statement and start your zero-waste journey without the hassle.</div>
                  </div>
                </div>
                <div class="slide slide--3">
                  <div class="slide-content">
                    <h3 class="slide-title">Everyone</h3>
                    <div class="slide-body">We believe zero-waste and reuse is for everyone. To realize the future we all want, we need every single person on-board. If you have an idea on how we can partner, let's talk.</div>
                  </div>
                </div>
                {% comment %} <div class="slide slide--4">
                  <div class="slide-content">
                    <h3 class="slide-title">The apartment owner</h3>
                    <div class="slide-body">You wanna offer your tenants a fast, accessible and affordable way to purchase cleaning products while promoting a zero-waste lifestyle? We have just what you want, this is the station for you. </div>
                  </div>
                </div> {% endcomment %}
            </div>
        </div>
        <div class="homepage-container homepage01-container04">
            <div class="homepage01-titleContainer04">
                <p class="homepage01-subtitle04">We made refill easy</p>
                <div class="homepage01-title04">Power your business with Soapstand</div>
            </div>
            <div class="homepage01-bodyContainer04">
                <div class="block block-01">
                    <div class="block-title block-title01">01 ─ Cleaen and Fast</div>
                    <div class="block-body block-body01">Manual filling takes a long time and can be a sticky experience. With Soapstand, you can fill a single 1 litre / 32oz bottle as fast as 20 seconds</div>
                </div>
                <div class="block block-02">
                    <div class="block-title block-title02">02 ─ Interactive</div>
                    <div class="block-body block-body02">With our large touchscreen, interact with customers by telling them about your product with more than just words.</div>
                </div>
                <div class="block block-03">
                    <div class="block-title block-title03">03 ─ Powerful</div>
                    <div class="block-body block-body03">Soapstand comes with a growing list of features, such as mutli-variable coupons, that gives you the tools needed to grow your business.</div>
                </div>
                <div class="block block-04">
                    <div class="block-title block-title04">04 ─ Plug and Play</div>
                    <div class="block-body block-body04">We made setting up each station hassle-free. After a quick initial set up, just literally plug the station into the outlet to begin selling packaging-free.</div>
                </div>
                <div class="block block-05">
                    <div class="block-title block-title05">05 ─ Operate Remotely</div>
                    <div class="block-body block-body05">Save time by using our Soapstand portal to manage your fleet and products with a click of a finger.</div>
                </div>
                <div class="block block-06">
                    <div class="block-title block-title06">06 ─ Scalable</div>
                    <div class="block-body block-body06">By choosing Soapstand, you can easily add on an extra Soapstand to quickly build your fleet efficiently and cost-effectively.</div>
                </div>
            </div>
        </div>
        <div class="homepage-container homepage01-container05">
            <div class="homepage-container05-bg">
                <div class="homepage-container05-image"></div>
                <div class="homepage-container05-bgLayer"></div>
                <div class="homepage-container05-body">
                    <div class="container05-bodyL">
                        <div class="container05-bodyL-top">Business in a box</div>
                        <div class="container05-bodyL-bottom">meet our most powerful station ever</div>
                    </div>
                    <div class="container05-bodyR">
                        <a href="pages/SS1" class="btn-readMore">Read more</a>                
                    </div>
                </div>
            </div>
        </div>
        <div class="homepage-container homepage01-container06">
            <div class="container06-imgContainer">
                <div class="container06-image"></div>
            </div>
            <div class="container06-textContainer">
                <div class="container06-title">Soapstand makes being sustainable easy, fast & effective</div>
                <div class="container06-paragraph">What is that one step you’ve been looking for when promoting a more sustainable lifestyle? That roadblock that made it hard,  yeah we took care of it for you. </div>
                <a href="/pages/locations-new" class="btn">Our locations</a>                
            </div>
        </div>
    </section>
    
</section> 

<style>
    .hero--home{
        width: 100%;
        overflow: hidden;
    }

    .homepage-container{
        width: 100%;
        max-width: 1450px;
        min-width: 320px;
        margin: 0 auto;
        height: auto;
    }

    .homepage01-container01{
        position: relative;
        max-width: 100% !important;
        min-width: 100% !important;
        height: 100vh;
        min-height: 80rem;
        max-height: 100rem;
        margin-top: -50px;
    }

    .homepage-bg{
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/HomepageA.png?v=1684362150");
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .homepage-bgLayer{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
    }

    .homepage-titleLayer{
        position: relative;
        margin: 0 auto;
        width: 85%;
        max-width: 1450px;
        top: 50%;
    }

    .homepage01-title{
        font-size: 5rem;
        width: 50rem;
        margin-top: 50px;
        color: var(--color-white);
        font-family: "Montserrat";
        font-weight: 700;
    }

    .homepage-logo{
        position: absolute;
        right: 5%;
        bottom: -5rem;
        height: 35rem;
        width: 35rem;
    }

    .homepage01-container02{
        padding: 10vh 2vw;
    }

    .homepage01-subtitle{
        text-align: center;
        font-family: "Montserrat";
        color: var(--color-dark-blue);
    }

    .homepage01-subtitle01, .homepage01-subtitle04{
        font-size: 2rem;
        font-weight: 400;
    }

    .homepage01-subtitle02{
        font-size: 4rem;
        width: 40rem;
        font-weight: 700;
        margin: 1.5vh auto 0 auto;
    }

    .homepage01-container03{
        position: relative;
        max-width: 100% !important;
        min-width: 100% !important;
        height: 60vh !important;
        min-height: 55rem;
    }
    .homepage-02bg{
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Homepage-02.png?v=1684362249");
        height: 100%;
        background-size: cover;
        background-position: 75%;
    }

    .homepage01-container03slider{
        height: auto;
        position: relative;
        max-width: 100% !important;
        min-width: 100% !important;
    }

    .about-contact__slide{
        width: 100%;
        min-height: 35rem;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }

    .slide{
        position: absolute;
        background: var(--color-dark-blue);
        top: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
    }

    .slide--2{
        background: var(--color-water);
    }

    .slide--3{
        background: var(--color-bubbles);
    }

    .slide-content{
        width: 75%;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }

    .slide-title{
        font-size: 3.2rem;
        font-weight: 700;
        margin-bottom: 3vh;
        color: var(--color-white);
        text-align: center;
    }

    .slide-body{
        text-align: center;
        width: 72rem;
        margin: 0 auto;
        font-size: 1.6rem;
        line-height: 3rem;
        color: var(--color-white);
    }

    .slide--3 .slide-title{ color: var(--color-dark-blue);}
    .slide--3 .slide-body{ color: var(--color-dark-blue);}

    .homepage01-container04{
        padding: 10rem 10rem 15rem 10rem;
        position: relative;
    }

    .homepage01-titleContainer04{
        text-align: center;
        color: var(--color-dark-blue);
    }

    .homepage01-title04{
        margin-top: 1.5vh;
        font-size: 4rem;
        font-weight: 700;
    }

    .homepage01-bodyContainer04{
        display: -ms-grid;
        display: grid;
        height: auto;
        margin: 0 auto;
        grid-template-columns: repeat(auto-fill, minmax(min(350px,100%), 1fr));
        -ms-grid-rows: 250px 3rem 250px;
        grid-template-rows: repeat(2, 250px);
        grid-auto-flow: row;
        grid-auto-rows: 250px;
        grid-gap: 3rem;

        -webkit-box-align: center;

            -ms-flex-align: center;

                align-items: center;
        justify-items: center;
    }

    .block{
        width: 26rem;
        color: var(--color-dark-blue);
    }

    .block-title{
        font-size: 1.9rem;
        margin-bottom: 1.5vh;
        font-weight: 700;
    }

    .block-body{
        width: 80%;
        margin-left: auto;
        font-size: 1.4rem;
    }

    .homepage-container04-topLeft{
        width: 20rem;
        position: absolute;
        top: 0;
    }

    .homepage01-container04-decor{
        width: 25rem;
        position: absolute;
        right: 5rem;
        bottom: 0;
        display: inline-block;
    }

    .homepage-container04-bottomRight01{
        width: 100%;
    }

    .homepage-container04-bottomRight02{
        position: absolute;
        top: -5rem;
        left: 0;
        width: 6rem;
        height: 6rem;
    }

    .homepage01-container05{
        max-width: 100% !important;
        min-width: 100% !important;
        height: 60rem;
    }

    .homepage-container05-image{
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Homepage-05.png?v=1684362149");
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .homepage-container05-bg{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .homepage-container05-bgLayer{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-water);
        opacity: .35;
    }

    .homepage-container05-body{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 75%;
        max-width: 1250px;
    }

    .container05-bodyL{
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: 3.2rem;
        color: var(--color-white);
        line-height: 2;
    }

    .container05-bodyL-top{
        font-weight: 700;
        border-bottom: 3px solid var(--color-white);
    }

    .container05-bodyR{
        width: 20%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .btn-readMore{
        font-family: "Montserrat";
        text-decoration: none;
        color: var(--color-white);
        font-size: 2rem;
        font-weight: 400;
        border: 2px solid var(--color-white);
        padding: 1rem 1.5rem;
        border-radius: 50px;
    }

    .homepage01-container06{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 5rem 2rem 6rem 2rem;
    }

    .container06-imgContainer{
        width: 62%;
        height: 45vh;
        min-height: 55rem;
        margin-right: 5rem;
    }

    .container06-imgContainer{
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Homepage-06.png?v=1684362150");
        background-size: cover;
        background-position: center;
    }

    .container06-textContainer{
        color: var(--color-dark-blue);
        width: 30%;
        padding: 5vh 0;
        width: 40rem;
    }

    .container06-title{
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 3vh;
    }

    .container06-paragraph{
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 3vh;
    }

    .btn-ourStations{
        font-family: "Montserrat";
        text-decoration: none;
        color: var(--color-dark-blue);
        font-size: 1.8rem;
        font-weight: 400;
        border: 2px solid var(--color-dark-blue);
        padding: 1rem 1.5rem;
        border-radius: 50px; 
    }

/* 1200px tab-land*/
@media only screen and (max-width: 75em){
    .homepage01-title{
        font-size: 4.5rem;
        width: 45rem;
    }
    .homepage-logo{
        height: 30rem;
        width: 30rem;
    }
    .homepage-container05-image{
        background-size: cover;
        background-position: 80%;
    }
}

/* 900px tab-port*/
@media only screen and (max-width: 57em){
    .homepage01-title{
        font-size: 4rem;
        width: 45rem;
    }
    .homepage01-subtitle02{
        font-size: 4rem;
        width: 45rem;
    }
    .homepage01-title04{
        font-size: 4rem;
    }
    .homepage01-bodyContainer04{
        grid-template-columns: repeat(auto-fill, minmax(min(250px,100%), 1fr));
    }
    .container05-bodyL{
        font-size: 2.8rem;
    }
    .container06-imgContainer{
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 50em){
    .slide-content{
        width: 90%;
    }
    .slide-body{
        width: 100%;
    }
    .container05-bodyL{
        font-size: 2.6rem;
    }
    .btn-readMore{
        font-size: 1.8rem;
    }
    .homepage01-container06{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .container06-imgContainer{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        width: 100%;
        height: 40vh;
        min-height: 35rem;
    }
    .container06-textContainer{
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        width: 80%;
        margin: 0 auto;
        padding: 0rem 0rem 4rem 0rem;
    }
    .container06-title{
        font-size: 3.5rem;
    }
}

/*700px*/ 
@media only screen and (max-width: 43.75em){
    .homepage-logo{
        height: 25rem;
        width: 25rem;
    }
    .homepage01-title04{
        margin-bottom: 2vh;
    }
    .homepage01-bodyContainer04{
        -ms-grid-rows: 150px 3rem 150px;
        grid-template-rows: repeat(2, 150px);
        grid-auto-rows: 150px;
    }
    .homepage-container04-topLeft{
        width: 15rem;
    }
    .homepage01-container04-decor{
        width: 22rem;
    }
    .homepage-container04-bottomRight02{
        width: 5rem;
        height: 5rem;
    }
    .homepage-container05-body{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 80%;
    }
    .container05-bodyL{
        width: 100%;
        font-size: 2.4rem;
        margin-bottom: 1vh;
    }
    .container05-bodyL-bottom{
        line-height: 1.2;
    }
    .container05-bodyR{
        width: 100%;
        margin-top: 5rem;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .btn-readMore{
        font-size: 1.6rem;
    }
}

/* 600px */
@media only screen and (max-width: 37.5em){
    .homepage01-container01{
        height: 50rem;
        min-height: 30rem;
    }
    .homepage01-title{
        font-size: 3rem;
        width: 30rem;
    }
    .homepage01-subtitle02{
        font-size: 3rem;
        width: 30rem;
    }
    .homepage-logo{
        height: 20rem;
        width: 20rem;
        bottom: -2rem;
        right: 0rem;
    }
    .slide-title{
        font-size: 2.8rem;
        margin-bottom: 2vh;
    }
    .slide-body{
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .homepage01-title04{
        font-size: 3rem;
    }
    .btn-readMore{
        font-size: 1.4rem;
    }
    .container06-imgContainer{
        height: 30vh;
        min-height: 30rem;
    }
    .container06-title{
        font-size: 3rem;
    }
    .container06-paragraph{
        font-size: 1.8rem;
    }
    .btn-ourStations{
        font-size: 1.4rem;
    }
}

/* 500px */
@media only screen and (max-width: 31.25em){
    .homepage01-title{
        font-size: 2.5rem;
        width: 25rem;
    }
    .homepage01-subtitle02{
        font-size: 2.5rem;
        width: 25rem;
    }
    .homepage01-container02{
        padding: 5vh 2vw;
    }
    .about-contact__slide{
        min-height: 28rem;
    }
    .slide-title{
        font-size: 2.5rem;
    }
    .slide-body{
        font-size: 1.4rem;
    }
    .homepage01-container03{
        height: 25vh !important;
        min-height: 35rem;
    }
    .homepage01-title04{
        font-size: 2.5rem;
    }
    .homepage01-container04{
        padding: 10rem 5rem 10rem 5rem;
    }
    .homepage-container04-topLeft{
        width: 13rem;
    }
    .homepage01-container04-decor{
        width: 16rem;
    }
    .homepage-container04-bottomRight02{
        width: 4rem;
        height: 4rem;
        top: -4rem;
    }
    .homepage01-container05{
        height: 50rem;
    }
    .container06-title{
        font-size: 2.5rem;
    }
    .container06-paragraph{
        font-size: 1.4rem;
    }
}

/*400px*/
@media only screen and (max-width: 25em){
    .homepage01-subtitle01, .homepage01-subtitle04{
        font-size: 1.4rem;
    }
    .homepage01-subtitle02{
        font-size: 2rem;
        width: 20rem;
    }
    .slide-title{
        font-size: 2rem;
    }
    .slide-body{
        font-size: 1.2rem;
    }
    .homepage01-title04{
        font-size: 2rem;
    }
    .block-title{
        font-size: 1.8rem;
    }
    .container05-bodyL{
        font-size: 2rem;
    }
}
</style>

{% javascript %}
    const slider = function() {
        const slides = document.querySelectorAll('.slide');
        const slider = document.querySelector('.slider');

        let curSlide = 0;
        const maxSlide = slides.length;


        const goToSlide = function(slide){
            slides.forEach((s, i)=> (s.style.transform = `translateX(${100 * (i - slide)}%)`));
        }

        const nextSlide = function(){
            if(curSlide === maxSlide -1){
            curSlide = 0;
            }else{
            curSlide++;
            }
            goToSlide(curSlide);
        }
        const init = function(){
            goToSlide(0);
        }
        init();
        window.setInterval(nextSlide, 5000);
    }
    slider();
{% endjavascript %}

