<section class="hero--home">
    <section class="hero--home02" id="about">
        <div class="hero--home02__title">meet Soapstand</div>
        <div class="container row hero--home02__row">
            <div class="hero--home02__text">
                <div class="hero--home02__circle home02__circle-01">
                    {{ 'home02__logo.svg' | asset_url | img_tag: 'hero 02 logo', 'hero--home02__logo' }}  
                </div>
                <p class="hero--home02__secondary hero--home02__secondary--first bold">The new solution<br>to sustainable living</p>
                <p class="hero--home02__secondary hero--home02__secondary--second">Soapstand solutions make<br>purchasing soap an accessible,<br>convenient and affordable<br>process.</p>
            </div>
            <div class="hero--home02__image-container-L">
                <div class="hero--home02__circle home02__circle-02"></div>
                <div class="hero--home02__circle home02__circle-03"></div>
                <div class="hero--home02__circle home02__circle-04"></div>
                <div class="hero--home02__image-container">
                    <img class="hero--home02__image">
                </div>
                <div class="hero--home02__circle home02__circle-05"></div>
                <div class="hero--home02__circle home02__circle-06"></div>

            </div>
        </div>
    </section>    
</section> 

<style>
    @import url(//db.onlinewebfonts.com/c/6bfddeebdb6be7ad8b3cbf0523b89aca?family=Brevia);
    .hero--home{
        border: 1px solid black;
        width: 100%;
    }

    .hero--home02{
        height: auto;
        background: linear-gradient(180deg, #438897 0%, rgba(57, 127, 141, 0.843577) 30.92%, rgba(42, 114, 128, 0.628703) 60.09%, rgba(68, 138, 151, 0.477126) 82.32%, rgba(89, 158, 170, 0.350813) 96.41%); 
        position: relative;
        clip-path: polygon(100% 0%, 0% 0% , 0% 100.00%, 1% 99.94%, 2% 99.78%, 3% 99.51%, 4% 99.15%, 5% 98.71%, 6% 98.21%, 7% 97.65%, 8% 97.06%, 9% 96.47%, 10% 95.88%, 11% 95.32%, 12% 94.82%, 13% 94.38%, 14% 94.02%, 15% 93.76%, 16% 93.60%, 17% 93.55%, 18% 93.61%, 19% 93.77%, 20% 94.04%, 21% 94.41%, 22% 94.85%, 23% 95.36%, 24% 95.92%, 25% 96.51%, 26% 97.10%, 27% 97.69%, 28% 98.24%, 29% 98.75%, 30% 99.18%, 31% 99.54%, 32% 99.80%, 33% 99.95%, 34% 100.00%, 35% 99.94%, 36% 99.77%, 37% 99.49%, 38% 99.13%, 39% 98.68%, 40% 98.17%, 41% 97.61%, 42% 97.02%, 43% 96.42%, 44% 95.84%, 45% 95.29%, 46% 94.78%, 47% 94.35%, 48% 94.00%, 49% 93.74%, 50% 93.59%, 51% 93.55%, 52% 93.62%, 53% 93.79%, 54% 94.07%, 55% 94.44%, 56% 94.89%, 57% 95.40%, 58% 95.96%, 59% 96.55%, 60% 97.15%, 61% 97.73%, 62% 98.28%, 63% 98.78%, 64% 99.21%, 65% 99.56%, 66% 99.81%, 67% 99.96%, 68% 100.00%, 69% 99.93%, 70% 99.75%, 71% 99.47%, 72% 99.10%, 73% 98.64%, 74% 98.13%, 75% 97.57%, 76% 96.98%, 77% 96.38%, 78% 95.80%, 79% 95.25%, 80% 94.75%, 81% 94.32%, 82% 93.98%, 83% 93.73%, 84% 93.59%, 85% 93.55%, 86% 93.62%, 87% 93.81%, 88% 94.09%, 89% 94.47%, 90% 94.92%, 91% 95.44%, 92% 96.00%, 93% 96.59%, 94% 97.19%, 95% 97.77%, 96% 98.32%, 97% 98.81%, 98% 99.24%, 99% 99.58%, 100% 99.82%);
    }

    .hero--home02__row{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 0px 0px 20% 0px;
    }

    .hero--home02__text{
        width: 70%;
        text-align: center;
    }

    .hero--home02__title{
        font-family: "Brevia", sans-serif;
        font-size: 29px;
        padding: 70px 0 40px 0;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        text-decoration: underline;
        text-underline-position: under;
        white-space: nowrap;
    }

    .hero--home02__secondary--first{
        word-spacing: 2px;
        font-size: 30px;
    }

    .hero--home02__secondary{
        color: #ffffff;
    }

    .hero--home02__circle{
        border-radius: 50%;
        background: linear-gradient(180deg, #65ACAE 0%, #317C82 58.57%, #004E59 100%);
        position: relative;
    }

    .home02__circle-01{
        margin: 0 70% 10% 30%;
        width: 130px;
        height: 130px;
    }

    .home02__circle-02{
        width: 130px;
        height: 130px;
        position: absolute;
        top: 25%;
        z-index: -1;
    }

    .home02__circle-03{
        width: 30px;
        height: 30px;
        position: absolute;
        top: -5%;
        z-index: 1;
    }

    .home02__circle-04{
        width: 50px;
        height: 50px;
        position: absolute;
        top: -2%;
        z-index: 1;
    }

    .home02__circle-05{
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: -2%;
    }

    .home02__circle-06{
        width: 35px;
        height: 35px;
        position: absolute;
        bottom: -10%;
        z-index: 1;
    }

    .hero--home02__logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero--home02__image-container-L{
        width: 100%;
        position: relative;
        z-index: 0;
    }

    .hero--home02__image-container{
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
        border-radius: 50px;
        border: 8px solid transparent; 
        background: linear-gradient(45deg, #3A7E91 100%, #6AB1B1 92.15%, #6AB1B1 71.37%, #65ACAE 100%) border-box;
        width: 570px;
        height: 450px;
    }

    .hero--home02__image{
        background:url("https://cdn.shopify.com/s/files/1/0549/5580/2693/t/13/assets/home02__image.png?v=143262246980390111351666481222");
        height: 100%;
        width: 90%;
        background-position: left;
        background-size: cover;
        transform: scale(1.2);
    }

    .bold{
        font-weight: bold;
    }

    @media (min-width: 950px) {
        .row {
            display: flex;
            justify-content: space-between;
        }

        .hero--home02{
            clip-path: polygon(100% 0%, 0% 0% , 0% 96.77%, 1% 96.56%, 2% 95.93%, 3% 94.98%, 4% 93.84%, 5% 92.65%, 6% 91.59%, 7% 90.80%, 8% 90.37%, 9% 90.38%, 10% 90.82%, 11% 91.63%, 12% 92.69%, 13% 93.88%, 14% 95.02%, 15% 95.96%, 16% 96.57%, 17% 96.77%, 18% 96.54%, 19% 95.90%, 20% 94.94%, 21% 93.79%, 22% 92.61%, 23% 91.56%, 24% 90.77%, 25% 90.37%, 26% 90.39%, 27% 90.84%, 28% 91.66%, 29% 92.74%, 30% 93.92%, 31% 95.05%, 32% 95.99%, 33% 96.59%, 34% 96.77%, 35% 96.52%, 36% 95.87%, 37% 94.90%, 38% 93.75%, 39% 92.57%, 40% 91.53%, 41% 90.75%, 42% 90.36%, 43% 90.40%, 44% 90.86%, 45% 91.69%, 46% 92.78%, 47% 93.96%, 48% 95.09%, 49% 96.01%, 50% 96.60%, 51% 96.77%, 52% 96.51%, 53% 95.84%, 54% 94.86%, 55% 93.71%, 56% 92.53%, 57% 91.49%, 58% 90.73%, 59% 90.35%, 60% 90.41%, 61% 90.89%, 62% 91.73%, 63% 92.82%, 64% 94.00%, 65% 95.13%, 66% 96.04%, 67% 96.61%, 68% 96.77%, 69% 96.49%, 70% 95.81%, 71% 94.83%, 72% 93.67%, 73% 92.49%, 74% 91.46%, 75% 90.71%, 76% 90.35%, 77% 90.42%, 78% 90.91%, 79% 91.76%, 80% 92.86%, 81% 94.05%, 82% 95.17%, 83% 96.07%, 84% 96.63%, 85% 96.77%, 86% 96.47%, 87% 95.78%, 88% 94.79%, 89% 93.63%, 90% 92.45%, 91% 91.43%, 92% 90.69%, 93% 90.34%, 94% 90.43%, 95% 90.94%, 96% 91.80%, 97% 92.90%, 98% 94.09%, 99% 95.20%, 100% 96.09%);
        }

        .hero--home02__row{
            flex-direction: row;
            justify-content: space-around;
            padding: 30px 0px 10% 0px;
        }

        .hero--home02__text{
            height: 100%;
            width: 40%;
            text-align: left;
        }

        .hero--home02__title{
            font-size: 29px;
            padding: 50px 0 40px 0;
        }

        .hero--home02__secondary--second{
            font-size: 30px;
            margin-bottom: 10%;
        }

        .hero--home02__secondary--first{
            font-size: 38px;
            margin: 0px 0px 10%;
        }

        .hero--home02__image-container-L{
            width: 60%;
            position: relative;
        }

        .home02__circle-02{
            top: 25%;
            left: 12%;
        }

        .home02__circle-03{
            left: 12%;
        }

        .home02__circle-04{
            left: 18%;
        }

        .home02__circle-05{
            right: 17%; 
        }

        .home02__circle-06{
            right: 20%
        }

        .hero--home02__image-container{
            max-width: 55%;
            min-width: 650px;
            width: 550px;
            height: 500px;
        }

        .hero--home02__image{
            transform: scale(1.2);
        }
    }

    @media (max-width: 1800px) {
        .home02__circle-02{
            left: 7%;
        }
    
        .home02__circle-03{
            left: 7%;
        }

        .home02__circle-04{
            left: 13%;
        }

        .home02__circle-05{
            right: 13%; 
        }

        .home02__circle-06{
            right: 18%
        }
    }

    @media (max-width: 1700px) {
        .home02__circle-02{
            left: 5%;
        }

        .home02__circle-03{
            left: 5%;
        }

        .home02__circle-04{
            left: 10%;
        }

        .home02__circle-05{
            right: 8%; 
        }

        .home02__circle-06{
            right: 15%
        }
    }

    @media (max-width: 1550px) {
        .home02__circle-02{
            left: 0%;
        }

        .home02__circle-03{
            left: 2%;
        }

        .home02__circle-04{
            left: 7%;
        }

        .home02__circle-05{
            right: 7%; 
        }

        .home02__circle-06{
            right: 12%
        }
    }

    @media (max-width: 1400px) {
        .hero--home02__secondary--first{
            font-size: 34px;
        }

        .hero--home02__secondary--second{
            font-size: 28px;
        }

        .home02__circle-02{
            left: -5%;
        }

        .home02__circle-03{
            left: -3%;
        }

        .home02__circle-04{
            left: 4%;
        }

        .home02__circle-05{
            right: 5%; 
        }

        .home02__circle-06{
            right: 10%
        }
    }

    @media (max-width: 1300px) {
        .hero--home02__secondary{
            font-size: 26px;
        }

        .hero--home02__secondary--first{
            font-size: 30px;
        }

        .home02__circle-02{
            left: -8%;
        }

        .home02__circle-03{
            left: -7%;
        }

        .home02__circle-04{
            left: 0%;
        }

        .home02__circle-05{
            right: 0%; 
        }

        .home02__circle-06{
            right: 5%
        }
    }

    @media (max-width: 1200px) {
        .hero--home02__secondary{
            font-size: 26px;
        }

        .hero--home02__secondary--first{
            font-size: 30px;
        }

        .home02__circle-05{
            right: -5%; 
        }

        .home02__circle-06{
            right: 2%
        }
    }

    @media (max-width: 1180px) {
        .hero--home02__secondary--first{
            font-size: 28px;
        }

        .hero--home02__secondary--second{
            font-size: 21px;
        }

        .hero--home02__image-container{
            min-width: 500px;
            height: 400px;
        }

        .hero--home02__image{
            height: 475px;
            min-width: 500px;
            width: 100%;
            height: 100%;
            transform: scale(1.1);
            background-position: left;
        }

        .home02__circle-02{
            left: -4%;
        }

        .home02__circle-03{
            left: -2%;
        }

        .home02__circle-04{
            left: 6%;
        }

        .home02__circle-05{
            right: 5%; 
        }

        .home02__circle-06{
            right: 14%
        }
    }

    @media (max-width: 975px){
        .hero--home02__secondary--first{
            font-size: 28px;
        }

        .hero--home02__secondary--second{
            font-size: 20px;
        }
        
        .home02__circle-02{
            left: -8%;
        }

        .home02__circle-03{
            left: -7%;
        }

        .home02__circle-04{
            left: 2%;
        }

        .home02__circle-05{
            right: 0%; 
        }

        .home02__circle-06{
            right: 10%
        }
    }

    @media (max-width: 949px) {
        .home02__circle-01{
            margin: 0 auto;
            width: 110px;
            height: 110px;
        }

        .hero--home02__logo{
            height: 70%;
        }

        .home02__circle-02{
            left: 5%;
        }

        .home02__circle-03{
            left: 7%;
        }

        .home02__circle-04{
            left: 15%;
        }

        .home02__circle-05{
            right: 14%; 
        }

        .home02__circle-06{
            right: 20%
        }
    }

    @media (max-width: 900px) {
        .hero--home02__title{
            font-size: 29px;
        }

        .home02__circle-02{
            left: 5%;
        }

        .home02__circle-03{
            left: 5%;
        }

        .home02__circle-04{
            left: 12%;
        }

        .home02__circle-05{
            right: 8%; 
        }

        .home02__circle-06{
            right: 15%
        }
    }

    @media (max-width: 800px){
        .home02__circle-02{
            left: -2%;
        }

        .home02__circle-03{
            left: 0%;
        }

        .home02__circle-04{
            left: 8%;
        }

        .home02__circle-05{
            right: 5%; 
        }

        .home02__circle-06{
            right: 12%
        }
    }


    @media (max-width: 700px) {
        .hero--home02__title{
            font-size: 24px;
        }

        .hero--home02__text{
            width: 100%;
        }

        .home02__circle-01{
            width: 100px;
            height: 100px;
        }

        .hero--home02__logo{
            height: 60%;
        }

        .hero--home02__secondary--first{
            font-size: 28px;
        }

        .hero--home02__secondary--second{
            font-size: 20px;
        }

        .hero--home02__image-container{
            width: 500px;
        }

        .hero--home02__image{
            transform: scale(1.1);
        }

        .home02__circle-02{
            left: -4%;
            width: 100px;
            height: 100px;
        }

        .home02__circle-03{
            left: -2%;
            width: 20px;
            height: 20px;
        }

        .home02__circle-04{
            left: 6%;
            width: 40px;
            height: 40px;
        }

        .home02__circle-05{
            width: 50px;
            height: 50px;
        }

        .home02__circle-06{
            width: 25px;
            height: 25px;
        }
    }

    @media (max-width: 600px) {
        .hero--home02__image{
            width: 100%;
            min-width: 0px;
            height: 100%;
            transform: scale(1.1);
            background-position: center;
        }

        .home02__circle-02{
            left: -5%;
        }
    }

    @media (max-width: 420px) {
        .hero--home02{
            clip-path: polygon(100% 0%, 0% 0% , 0% 100.00%, 1% 99.99%, 2% 99.95%, 3% 99.89%, 4% 99.81%, 5% 99.71%, 6% 99.59%, 7% 99.44%, 8% 99.28%, 9% 99.11%, 10% 98.92%, 11% 98.73%, 12% 98.52%, 13% 98.31%, 14% 98.09%, 15% 97.88%, 16% 97.67%, 17% 97.46%, 18% 97.26%, 19% 97.07%, 20% 96.89%, 21% 96.73%, 22% 96.58%, 23% 96.45%, 24% 96.34%, 25% 96.26%, 26% 96.19%, 27% 96.15%, 28% 96.13%, 29% 96.14%, 30% 96.16%, 31% 96.22%, 32% 96.29%, 33% 96.39%, 34% 96.51%, 35% 96.64%, 36% 96.80%, 37% 96.97%, 38% 97.15%, 39% 97.35%, 40% 97.55%, 41% 97.76%, 42% 97.98%, 43% 98.19%, 44% 98.40%, 45% 98.61%, 46% 98.82%, 47% 99.01%, 48% 99.19%, 49% 99.36%, 50% 99.51%, 51% 99.64%, 52% 99.76%, 53% 99.85%, 54% 99.92%, 55% 99.97%, 56% 100.00%, 57% 100.00%, 58% 99.97%, 59% 99.93%, 60% 99.86%, 61% 99.77%, 62% 99.66%, 63% 99.52%, 64% 99.37%, 65% 99.21%, 66% 99.03%, 67% 98.84%, 68% 98.63%, 69% 98.42%, 70% 98.21%, 71% 98.00%, 72% 97.78%, 73% 97.57%, 74% 97.37%, 75% 97.17%, 76% 96.99%, 77% 96.82%, 78% 96.66%, 79% 96.52%, 80% 96.40%, 81% 96.30%, 82% 96.22%, 83% 96.17%, 84% 96.14%, 85% 96.13%, 86% 96.15%, 87% 96.19%, 88% 96.25%, 89% 96.33%, 90% 96.44%, 91% 96.57%, 92% 96.71%, 93% 96.87%, 94% 97.05%, 95% 97.24%, 96% 97.44%, 97% 97.65%, 98% 97.86%, 99% 98.07%, 100% 98.29%);
        }

        .hero--home02__title{
            font-size: 22px;
        }

        .hero--home02__secondary--first{
            font-size: 24px;
        }

        .hero--home02__secondary--second{
            font-size: 14px;
        }

        .home02__circle-05{
            width: 40px;
            height: 40px;
        }

        .home02__circle-06{
            width: 20px;
            height: 20px;
        }
    }
</style>

{% javascript %}

{% endjavascript %}

{%schema%}
{
    "name": "Home",
    "presets": [
        {
            "name": "Home"
        }
    ]
}
{%endschema%}

