<section class="questions">
    <div class="questions-container">
        <h1 class="questions-title">Frequently Asked Questions</h1>
        <div class="questions-bg"></div>
        <h2 class="questions-category">Profit / Cost</h2>
        <div class="questions-all">
            <div class="question">How do I pay for my Soapstand Station?</div>
            <div class="answer">Electronic wire transfer (T/T) is the best way for payment. If there is a larger purchase of 8 or more stations a letter of credit will be required.</div>
        </div>
        <div class="questions-all">
            <div class="question">What kind of payment does Soapstand Station accept?</div>
            <div class="answer">Not directly. There are currently 2 payment options to choose from. Stations can be either configured to print a receipt that is taken to a checkout area where cash transactions may be an option. Or the stations can be configured into a QR payment system, which can process payment via credit card. The third payment option is currently in development. The stations will soon have an option for tap payment. Customers’ can complete the payment process with one simple tap with their choice of payment card.</div>
        </div>
        <h2 class="questions-category">Maintenance</h2>
        <div class="questions-all">
            <div class="question">What happens when the station breaks?</div>
            <div class="answer">On the odd chance that your station needs repair, it's important to go through the product manual to identify problems and potential fixes. Should you not be able to resolve the issue, we are only a call away. If your station is under warranty, we'd be happy to send you a replacement part should a fix not be possible.</div>
        </div>
        <div class="questions-all">
            <div class="question">Does my purchase include warranty?</div>
            <div class="answer">
              Please refer to the agreement initially signed at the start of the purchase. Common agreement, Soapstand station comes with a 1 year warranty. The warranty period begins from the date it is shipped. 
              <ol>
                <li class="point">
                  Entire station - Soapstand can only be held liable for the replacement and repair of faulty parts returned on a DDP base, provided that our inspection reveals that the part(s) in question was faulty at the time of sale. <br>The warranty is voided if:
                  <ul class="list">
                    <li class="points">Station is operating outside stated operating conditions</li>
                    <li class="points">The installation and use instructions have been disregarded</li>
                    <li class="points">The station was removed by a technician not authorized by Soapstand and/or repaired with non-original parts</li>
                    <li class="points">The station was modified by a technician not authorized by Soapstand.</li>
                    <li class="points">Foreign debris is found in the station</li>
                    <li class="points">Clear signs of abuse are detected</li>
                    <li class="points">The station has been used for an application it was not intended for, and therefore such application had not been approved by Soapstand</li>
                    <li class="points">The warranty does not cover the normal wear of the station</li>
                  </ul>
                </li>
                <li class="point">
                  Pumps - The pumps come with a 12 month (This is the pump manufacturer warranty period). This period shall not exceed 12 months from the date of purchase under any circumstances. Soapstand can only be held liable for the replacement and repair of faulty parts returned on a DDP base, provided that our inspection reveals that the part(s) in question was faulty at the time of sale. <br> The warranty is voided if:
                  <ul class="list">
                    <li class="points">The mounting/use instructions have been disregarded</li>
                    <li class="points">The pump was removed by a technician not authorized by Soapstand and/or repaired with non-original parts</li>
                    <li class="points">The pump operated with no water or under cavitation conditions.</li>
                    <li class="points">Solid foreign particles are found in the pump</li>
                    <li class="points">Clear signs of excessive pressure are detected</li>
                    <li class="points">The pump has been used for an application it was not intended for, where the operating conditions and/or the pumped liquid are incompatible with the pump itself and therefore such application had not been approved by Soapstand</li>
                    <li class="points">The warranty does not cover the normal wear of the pump</li>
                  </ul>
                </li>
              </ol>
            </div>
        </div>
        <div class="questions-all">
            <div class="question">How do I inspect the station to ensure it is working properly?</div>
            <div class="answer">In order to keep the station at optimal functionality, it is recommended to regularly inspect the station for any damage such as leaks or malfunctioning equipment.
            <br>
            <ul class="list">
              <li class="points">Check by looking at and touching the tubing, connections, pumps and flow sensors for any sign of wetness. If so this is a sign of a leak and should be addressed as soon as possible. Leaking can be a sign of a loose tubing connection, or can be due equipment failure such as the pumps or flow sensors.</li>
              <li class="points">Check pump functionality by testing them in maintenance mode.</li>
              <li class="points">Check network functionality. In maintenance mode-> general settings -> minimize application -> try an internet browser. Once done, click the black screen icon with the red circle on the left to go back to the soapstand app.</li>
            </ul>
            </div>
        </div>
        <div class="questions-all">
            <div class="question">How and when should the station be cleaned and maintained?</div>
            <div class="answer">Light cleaning daily is recommended. A common approach is to assign daily cleaning duties for closing staff.<br><strong>Light Clean - please schedule regularly</strong><br>The touch screen can be cleaned with a glass surface cleaning spray and wiped using a soft cloth. The dispensing nozzle should be cleaned with a non-alcoholic cleaning spray and wiped dry with a towel. The exterior of your station should be wiped down with multi-purpose cleaners. Waste products from your station’s drip tray should be disposed of and cleaned. Check the cavity under the drip trays and clean out any product.<br><strong>Deep Clean - please schedule depending on the usage and environment</strong><br>Please schedule depending on the usage and environment.<br>The touch screen can be cleaned with a glass surface cleaning spray and wiped using a soft cloth. The dispensing nozzle should be cleaned with a non-alcoholic cleaning spray and wiped dry with a towel. Exterior surfaces including: body of your station, the drain grate and the drip tray should be cleaned with warm water and multi-purpose cleaner; wipe dry with a towel. Tubes, flow sensors and pumps should be cleaned with warm water and multi-purpose cleaner; wipe dry with a towel. Containers for products should be wiped with warm water and dried with a towel. Any unused extra parts should be kept in its original packaging for future usage.
              <ul class="list">
                <li class="points"><strong>NOTE: </strong>In case of leakage from the interior of the station, place slippage signs around the station to prevent your customer from injuries. Wipe with warm water until products are cleaned up. Dry your containers and any interior part of your station that was wiped. </li>
                <li class="points"><strong>CAUTION: </strong> Leakage may cause electrical damage to parts of the station. It is extremely important to proceed with caution and wear protective clothing to avoid serious injuries.</li>
              </ul>
            </div>
        </div>
        <div class="questions-all">
            <div class="question">How to restock products for the Sopapstand station?</div>
            <div class="answer">Keep your products filled for the most optimal experience for your customers. Follow our simple fulfillment guide below:<br>
              <ol class="list">
                <li class="points">Source product from your clean product supplier. The product should be supplied in 5 gallon ( 18.9 litres) pails.</li>
                <li class="points">Move the station, so the side panel door can be accessed.</li>
                <li class="points">Unscrew the lid of the used containers in the station, take the used containers out. Any remaining product from the empty container can be poured into the new container, or put aside. Place the straw into the new container and place it into the station.
                  <ul>
                    <li><strong>NOTE: </strong>Please ensure the containers being replaced matches the specified line.</li>
                  </ul>
                </li>
                <li class="points">In Maintenance Mode, select the respective product and then press the Restock button. Wait for the [Restock Successful] message to appear.
                  <ul>
                    <li><strong>CAUTION: </strong>Containers may weigh over 20 kg (44 lbs). Handle with care. Beware of spillage and leakage on the containers. Wipe with warm water until the spillage or leakage is cleaned off and dry with a towel before moving the containers. Clean between usage with warm water and wipe dry with a towel.</li>
                  </ul>
                </li>
              </ol>
            </div>
        </div>

        <h2 class="questions-category">Logistic</h2>
        <div class="questions-all">
            <div class="question">What shipping options are available?</div>
            <div class="answer">International shipping is facilitated through air and ocean freight. However in the North American regions, truck transportation is also an available option. Currently Soapstand stations are shipped from Vancouver, BC, Canada.</div>
        </div>
        <div class="questions-all">
            <div class="question">Do you sell and ship internationally?</div>
            <div class="answer">At this moment, we offer Soapstand in Canada and the United States. If you would like to work with us but outside of these two regions, please do not hesitate to reach out. Just please note that we are not well knowledged in market or regulatory conditions outside these two countries.</div>
        </div>

        <h2 class="questions-category">Customization / User Interface / Software</h2>
        <div class="questions-all">
            <div class="question">Do you do custom wrapping?</div>
            <div class="answer">We offer a co-branded wrapping that enables you to have a large space for you to share your brand's story. We will reserve a visible portion in order to ensure the recognition for users to identify our smart refillery as being called "Soapstand".</div>
        </div>
        <div class="questions-all">
            <div class="question">Do you provide white-label options?</div>
            <div class="answer">We do not provide white labels. Soapstand is a consumer facing brand that only provides stations with our branding on the station.</div>
        </div>
        <div class="questions-all">
            <div class="question">What logo files need to be provided?</div>
            <div class="answer">Soapstand station user interface can display desired company logo. In order to do so, please kindly provide us with high quality transparent PNG or illustrator (ai) files. Versions of logo in white and in color are preferred.</div>
        </div>
        <div class="questions-all">
            <div class="question">What product photos need to be provided?</div>
            <div class="answer">Please provide high quality transparent PNG or white background jpegs of the products you wish to dispense. At a minimum resolution of 1080 px by 1080 px will be needed.</div>
        </div>
        <div class="questions-all">
            <div class="question">What is the Soapstand Portal and how is it used?</div>
            <div class="answer">Our Soapstand Portal enables every owner-operator to interact with their station through the application. Through this portal, every user is able to access sales information (i.e. revenue, dispense amounts, total purchases, wifi status and other helpful information), and customer interaction data (i.e. click behaviour, nozzle button pushes, transactions, and more). Furthermore, users are able to edit the information displayed on the user interface (i.e. product names, prices, pictures, descriptions, etc). As well as edit information such as product names, descriptions, prices, pictures, and etc. To access this portal application, users must be paying for the Soapstand monthly fee for data and server management.</div>
        </div>    
        <div class="questions-all">
            <div class="question">How are Stations’ software updates provided?</div>
            <div class="answer">Soapstand remotely installs all required software updates as they roll out. No actions from the user are required. Please contact ashwani@drinkfill.com for requests.</div>
        </div>    
        <div class="questions-all">
            <div class="question">Is it possible to connect to our Point of Sale (POS) system?</div>
            <div class="answer">It is not currently possible to connect a POS system. It is possible however to utilize the station's receipt printer to integrate refills into your POS much like bulk goods, via PLU or barcodes. </div>
        </div>    

        <h2 class="questions-category">General Inquiry</h2>
        <div class="questions-all">
            <div class="question">What kind of products can it dispense?</div>
            <div class="answer">Soapstand can dispense a broad diversity of soaps and detergents, however all sku’s need to be tested in advance. Products with moderate viscosity (similar to syrup or molasses) typically work best. Depending on the properties of the liquid, flow rate will range from 20-60 seconds/liter. <strong>Products must not be hazardous to users or to Soapstand components (e.g. non-corrosive).</strong></div>
        </div>   
        <div class="questions-all">
            <div class="question">What is the floor space I need to reserve in my store?</div>
            <div class="answer">The station’s frontal width is 28” (71cm). Its side is 24” (61cm). With a height of 70.5” (171cm). Allow room for customers to stand in front of the machine. </div>
        </div>   
        <div class="questions-all">
            <div class="question">Where do I get soap? Who can supply us soap?</div>
            <div class="answer">We have tested numerous brands across North America and there's always more! Please let us know if you have any brands or products you would like to place in your Soapstand and we'll let you know if we tested it. Once we have approved it within our station, just reach out to the brands themselves to purchase. If you don't know of a brand, that's okay! We'll send you our list for you to reach out.</div>
        </div>   
        <div class="questions-all">
            <div class="question">How much inventory does the station hold?</div>
            <div class="answer">Our SS1 Soapstand station is designed to contain up to four 18.9 litres / 5 US gal containers for a total of 75.6 litres / 20 US gal.<br>The two most popular containers are:
              <ul>
                <li>Pail (4 or 5 gallon)</li>
                <li>Carboy (5 gallon)</li>
              </ul>
            </div>
        </div>   
        <div class="questions-all">
            <div class="question">Are dispensing amounts customizable?</div>
            <div class="answer">There are 3 options for dispensing. Currently the dispensing volume formats are: 500ml, 1.5L or custom dispense (meaning customers can decide how much volume they want to dispense).</div>
        </div> 
        <div class="questions-all">
            <div class="question">Does it need to be connected to the internet?</div>
            <div class="answer">For printer or no-payment device options, the station does not need to be connected to the internet. That said, remote tracking and portal operations do require steady and strong internet connection.</div>
        </div> 
        <div class="questions-all">
            <div class="question">Can I move the station around easily?</div>
            <div class="answer">Yes, our SS1 station is designed to be moved around easily. At the bottom of the station, it comes with 4 sturdy casters (wheels) for easy maneuvering. If the station needs to be moved to another location, please ensure the station has been safely shut down by going into Maintenance Mode -> General Settings -> Shutdown Station. Ensure that the casters (wheels) on the front of the station are unlocked to prevent any damage to the floor when moving the station. </div>
        </div> 
        <div class="questions-all">
            <div class="question">What is the lifetime?</div>
            <div class="answer">We are continuously working to increase the station's lifetime. That said, with anything, there is an end-of-life. At maximum usage, that is currently at 48-months; however, with some tender loving care and maintenance, it can be a good deal longer. Let's just say - we haven't seen the typical end-of-life to a station yet!</div>
        </div>
        <div class="questions-all">
            <div class="question">Can the Soapstand stations be running 24/7?</div>
            <div class="answer">Yes, in fact that is how the station was designed to be used. The station is a “plug and pay” refill station, meaning all you need to do is connect it to power and internet and it can remain on indefinitely.</div>
        </div> 
        <div class="questions-all">
            <div class="question">Can the Soapstand station be placed outside?</div>
            <div class="answer">No, it is not recommended to do so because the station is not weatherproof. </div>
        </div> 
        <div class="questions-all">
            <div class="question">Does Soapstand station create noise?</div>
            <div class="answer">Soapstand stations are silent when idle, however when dispensing the internal pumping system makes a low humming noise. This noise may be loud if testing with the door open, but during operation with the door closed it is significantly reduced.</div>
        </div> 
        <div class="questions-all">
            <div class="question">Is there cross contamination between products being dispensed?</div>
            <div class="answer">Soapstand  stations are designed specifically with this concern in mind! Our fluid lines and nozzle keep all four products separate so there is no cross-contamination.These outlet holes are all arranged in a tight formation so users can easily dispense into their bottle without having to worry about which hole their selected product will dispense from.</div>
        </div> 

        <div class="questions-all">
            <div class="question">You still have questions? </div>
            <div class="answer">Email us at sales@soapstand.com</div>
        </div> 
    </div>
</section>


<style>
  .questions{
    width: 100%;
    background: var(--color-dark-blue);
    position: relative;

  }
  .questions-container{
    max-width: 1450px;
    margin: 0 auto;
    width: 90%;
    min-height: 80rem;
    height: auto;
    margin-top: -50px;
    padding: 13rem 0 8rem 0;
  }

  .questions-title{
    padding-top: 5rem;
    font-size: 6rem;
    font-weight: 700;
    color: var(--color-white);
    {% comment %} width: 80rem; {% endcomment %}
    margin-bottom: 10rem;
    letter-spacing: .45;
    word-spacing: .45;
  }

  .questions-bg{
    height: 50rem;
    width: 51rem;
    background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/FAQ-bg-sm.png?v=1684362149");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    right: 0rem;
    top: 15rem;
  }

  .questions-category{
    font-size: 4rem;
    color: var(--color-white);
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 3px solid white;
  }

  .question{
    font-weight: 700;
    font-size: 3.6rem;
    color: var(--color-bubbles);
    opacity: .45;
  }

  .answer{
    font-weight: 200;
    font-size: 2.6rem;
    color: white;
    margin: 3rem 0 8rem 0;
    color: var(--color-white);
    letter-spacing: .25;
    word-spacing: 1.2;
    line-height: 1.5;
  }

  ul.list{
    margin: 1rem 0rem 1rem 6rem;
  }

  ol{
    margin: 1rem 0rem 1rem 6rem;
  }

  ol .list{
    margin: 0 0rem 0rem 8rem;
  }

  .points ul li, .answer ul li{
    margin: 0rem 0rem 0rem 6rem;
  }

  /*700px*/ 
  @media only screen and (max-width: 43.75em){
    .questions-container{
        padding: 13rem 0 4rem 0;
    }
    .questions-title{
        font-size: 4.9rem;
        width: unset;
        margin-bottom: 5rem;
    }
    .questions-category{
      font-size: 3.5rem
    }
  }
  /* 600px */
  @media only screen and (max-width: 37.5em){
    .questions-title{
        font-size: 4.6rem;
    }
    .questions-category{
      font-size: 3.2rem
    }
    .question{
        font-size: 3rem;
    }
    .answer{
        font-size: 2rem;
        margin: 3rem 0 3rem 0;
    }
    .answer ul li{
      margin: 0rem 0rem 0rem 4rem;
    }
    ul.list{
      margin: 1rem 0rem 1rem 0rem;
    }
  }
  /*500px*/
  @media only screen and (max-width: 31.25em){
    .questions-title{
        font-size: 4.2rem;
        margin-bottom: 5rem;
    }
    .questions-category{
      font-size: 3rem
    }
    .question{
        font-size: 2.8rem;
    }
    .answer{
        font-size: 1.6rem;
    }
    .questions-bg{
      height: 30rem;
      width: 31rem;
    }
    ol .list{
      margin: 1rem 0rem 1rem 0rem;
    }
  }
  /*400px*/
  @media only screen and (max-width: 25em){
    .questions-title{
        font-size: 4rem;
    }
  }
</style>