<section class="SS4">
    <div class="SS4-container">
        <div class="SS4-content">
            <div class="SS4-shortDescription">
                <div class="SS4-shortDescription01">Easy Plug-n-Play <span class="SS4-shortDescription01-span">Fits anywhere</span></div>
                <div class="SS4-shortDescription02">Able to carry an unlimited amount of product lines</div>
                <div class="SS4-name">SS 4</div>
            </div>
            <div class="SS4-image"></div>
        </div>
        <div class="SS4-spec">
            <div class="SS4-spec-title"><span class="station-modelNum">SS 4</span> Customizable basic dispenser</div>
            <div class="SS4-description">SS4 is our customizable station model that can be tailored to suit the business need. It is a simple system that is designed to pump products with a push of the button and without payment system or quantity measurement. It is highly customizable in terms of the exterior material, color, number of spouts and can be customized to built into walls or dispense islands. For more inquiries please feel free to <a class="contact-us" href="/pages/contact">contact us</a>.</div>
            <div class="SS4-spec-table">
                <div class="SS4-spec-tableL">
                    <div class="SS4-spec-includes"><span>INCLUDES</span> plug-n-play or customizable. An unlimited amount of product lines can be fitted together.</div>
                    <div class="SS4-spec-pricing"><span>PRICING</span> $23 per line per month, 24 month minimum. We ask a security deposit of 50% of the monthly payment</div>
                    <div class="SS4-spec-slots"><span>SLOTS FOR CLEANING PRODUCTS: 4</span></div>
                </div>
                <div class="SS4-spec-tableR">
                    <div class="SS4-spec-row">
                        <div class="SS4-height-text">Height</div>
                        <div class="SS4-height-value">min 50cm</div>
                    </div>
                    <div class="SS4-spec-row">
                        <div class="SS4-width-text">Width</div>
                        <div class="SS4-width-value">custom</div>
                    </div>
                    <div class="SS4-spec-row">
                        <div class="SS4-depth-text">Depth</div>
                        <div class="SS4-depth-value">min 50cm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <a href="/pages/our-stations" class="btn btn--black btn--back">go back</a>            
            <a href="/pages/contact" class="btn btn--black">get a quote</a>  
        </div>
    </div>
</section>

<style>
    .SS4-container{
        max-width: 1450px;
        margin: 0 auto;
        padding: 0rem 5vw 0rem 10vw; 
    }
    .SS4-content{
        padding: 12rem 0 0 0;   
        display: -webkit-box;   
        display: -ms-flexbox;   
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; 
        min-height: 70rem;
    }
    .SS4-shortDescription{
        width: 45rem;
        position: relative;
    }
    .SS4-shortDescription01, .SS4-shortDescription02{
        color: black;
        font-size: 2.2rem;
        font-weight: 700;
    }
    .SS4-shortDescription01{
        margin-bottom: 2rem;
    }
    .SS4-shortDescription01-span{
        font-weight: 400;
        margin-left: 3rem;
    }
    .SS4-shortDescription02{
        padding-bottom: 2rem;
        border-bottom: 3px solid black;
    }
    .SS4-name{
        position: absolute;
        left: -1rem;
        top: 50%;
        font-weight: 700;
        font-size: 4.2rem;
    }
    .SS4-name::before{
        content: '';
        height: 3rem;
        width: 6rem;
        background: black;
        display: inline-block;
        margin-right: 2rem;
    }
    .SS4-image{
        height: 65rem;
        width: 62rem;
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Stations-SS4.png?v=1686358795");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 2rem;
    }
    .SS4-spec{
        width: 85%;
        margin-right: auto;
        margin-bottom: 5rem;
    }
    .SS4-spec-title{
        color: black;
        font-weight: 400;
        font-size: 4.2rem;
        margin-bottom: 1.5rem;
    }
    .SS4-description{
        border-bottom: 3px solid black;
        padding-bottom: 2rem;
        font-size: 2rem;
        line-height: 1.5;
    }
    .contact-us, .contact-us:visited, .contact-us:link{
        text-decoration: none;
        color: var(--color-dark-blue);
        font-weight: 600;
    }
    .station-modelNum{
        font-weight: 700;
    }
    .SS4-spec-table{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .SS4-spec-tableL{
        width: 60rem;
        margin-top: 2rem;
        margin-right: 4rem;
    }
    .SS4-spec-includes, .SS4-spec-pricing{
        margin-bottom: 2rem;
    }
    .SS4-spec-includes, .SS4-spec-pricing, .SS4-spec-slots{
        font-size: 2rem;
        font-weight: 400;
        color: black;
        line-height: 1.5;
    }
    .SS4-spec-includes span, .SS4-spec-pricing span, .SS4-spec-slots span{
        font-weight: 700;
    }
    .SS4-spec-tableR{
        margin-top: 2rem;
        width: 18rem;
    }
    .SS4-spec-row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        line-height: 2;
    }
    .SS4-height-text, .SS4-width-text, .SS4-depth-text{
        font-weight: 700;
        color: black;
        font-size: 2rem;
    }
    .SS4-height-value, .SS4-width-value, .SS4-depth-value{
        font-weight: 400;
        color: black;
        font-size: 2rem;
    }
    .btn--back{
        margin-right: 1.5rem;
    }
    .btn--black, .btn--black:visited, .btn--black:link{
        display: inline-block;
        margin-bottom: 5rem;
    }

    /* 800px tab-port*/
    @media only screen and (max-width: 50em){
        .SS4-name{
            bottom: -10rem;
            top: unset;
        }
        .SS4-container{
            padding: 0 5vw;
        }
        .SS4-content{
            display: block;
        }
        .SS4-image{
            width: 90%;
            height: 60rem;
            margin: 5rem auto 0 auto;
            background-size: contain;
        }
        .SS4-spec{
            width: 90%;
        }
    }

    /*700px*/ 
    @media only screen and (max-width: 43.75em){
        .SS4-spec-table{
            display: block;
        }
        .SS4-spec-tableL{
            width: 100%;
            margin-right: 0;
        }
    }

    /*500px*/
    @media only screen and (max-width: 31.25em){
        .SS4-name{
            font-size: 3.6rem;
        }
        .SS4-shortDescription01, .SS4-shortDescription02{
            font-size: 1.8rem;
        }
        .SS4-shortDescription{
            width: 90%;
            margin: 0 auto;
        }
        .SS4-spec{
            margin: 0 auto;
        }
        .SS4-spec-title{
            font-size: 3.2rem;
        }
        .SS4-spec-includes, .SS4-spec-pricing, .SS4-description, .SS4-spec-slots{
            font-size: 1.6rem;
        }
        .SS4-height-text, .SS4-width-text, .SS4-depth-text, .SS4-height-value, .SS4-width-value, .SS4-depth-value{
            font-size: 1.6rem;
        }
        .btn-group{
            width: 90%;
            margin: 0 auto;
        }
        .btn--black, .btn--black:visited, .btn--black:link{
            width: 15rem;
            margin: 2rem 1.5rem 5rem 0rem;
        }
    }
    /*400px*/
    @media only screen and (max-width: 25em){
        .SS4-content{
            padding: 10rem 0 0 0;
        }
        .SS4-name{
            bottom: -6rem;
            font-size: 3rem;
        }
        .SS4-name::before{
            height: 2.5rem;
        }
        .SS4-shortDescription{
            width: 100%
        }
        .SS4-image{
            height: 50rem;
            width: 90%;
        }
        .SS4-spec{
            width: 100%;
        }
        .SS4-spec-title{
            font-size: 3rem;
            text-align: left;
        }
        .btn-group{
            width: 100%;
        }
        .btn--black, .btn--black:visited, .btn--black:link{
            width: 12rem;
        }
    }
</style>