<section class="SS1">
    <div class="SS1-container">
        <div class="SS1-content">
            <div class="SS1-shortDescription">
                <div class="SS1-shortDescription01">Easy set-up <span class="SS1-shortDescription01-span">Connects to wifi</span></div>
                <div class="SS1-shortDescription02">Most powerful dispenser</div>
                <div class="SS1-name">SS 1</div>
            </div>
            <div class="SS1-image"></div>
        </div>
        <div class="SS1-spec">
            <div class="SS1-spec-title"><span class="station-modelNum">SS 1</span> Business in a box</div>
            <div class="SS1-spec-table">
                <div class="SS1-spec-tableL">
                    <div class="SS1-spec-includes"><span>INCLUDES</span> Payment system: your choice of TAP or receipt printer, user Portal, maintenance mode, touch screen user experience.</div>
                    <div class="SS1-spec-pricing"><span>PRICING</span> $275/month, 24 month minimum *Security deposit, $1,000*</div>
                </div>
                <div class="SS1-spec-tableR">
                    <div class="SS1-spec-row">
                        <div class="SS1-height-text">Height</div>
                        <div class="SS1-height-value">142cm</div>
                    </div>
                    <div class="SS1-spec-row">
                        <div class="SS1-width-text">Width</div>
                        <div class="SS1-width-value">71cm</div>
                    </div>
                    <div class="SS1-spec-row">
                        <div class="SS1-depth-text">Depth</div>
                        <div class="SS1-depth-value">61cm</div>
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ }}" class="btn btn--black">go back</a>                
    </div>
</section>

<style>
    .SS1-container{
        max-width: 1450px;
        margin: 0 auto;
        padding: 0rem 5vw 0rem 10vw; 
    }
    .SS1-content{
        padding: 12rem 0 0 0;   
        display: flex;
        justify-content: space-between; 
        min-height: 70rem;
    }
    .SS1-shortDescription{
        width: 45rem;
        position: relative;
    }
    .SS1-shortDescription01, .SS1-shortDescription02{
        color: black;
        font-size: 2.2rem;
        font-weight: 700;
    }
    .SS1-shortDescription01{
        margin-bottom: 2rem;
    }
    .SS1-shortDescription01-span{
        font-weight: 400;
        margin-left: 3rem;
    }
    .SS1-shortDescription02{
        padding-bottom: 2rem;
        border-bottom: 3px solid black;
    }
    .SS1-name{
        position: absolute;
        left: -1rem;
        top: 50%;
        font-weight: 700;
        font-size: 4.2rem;
    }
    .SS1-name::before{
        content: '';
        height: 3rem;
        width: 6rem;
        background: black;
        display: inline-block;
        margin-right: 2rem;
    }
    .SS1-image{
        height: 75rem;
        width: 62rem;
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Stations-SS1.png?v=1686358795");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        margin-top: 2rem;
    }
    .SS1-spec{
        width: 85%;
        margin-right: auto;
        margin-bottom: 5rem;
    }
    .SS1-spec-title{
        color: black;
        font-weight: 400;
        font-size: 4.2rem;
        padding-bottom: 2rem;
        border-bottom: 3px solid black;
        text-align: right;
    }
    .station-modelNum{
        font-weight: 700;
    }
    .SS1-spec-table{
        display: flex;
        justify-content: space-between;
    }
    .SS1-spec-tableL{
        width: 60rem;
        margin-top: 2rem;
        margin-right: 4rem;
    }
    .SS1-spec-includes{
        margin-bottom: 2rem;
    }
    .SS1-spec-includes, .SS1-spec-pricing{
        font-size: 2rem;
        font-weight: 400;
        color: black;
        line-height: 2;
    }
    .SS1-spec-includes span, .SS1-spec-pricing span{
        font-weight: 700;
    }
    .SS1-spec-tableR{
        margin-top: 2rem;
        width: 18rem;
    }
    .SS1-spec-row{
        display: flex;
        justify-content: space-between;
        line-height: 2;
    }
    .SS1-height-text, .SS1-width-text, .SS1-depth-text{
        font-weight: 700;
        color: black;
        font-size: 2rem;
    }
    .SS1-height-value, .SS1-width-value, .SS1-depth-value{
        font-weight: 400;
        color: black;
        font-size: 2rem;
    }
    .btn--black, .btn--black:visited, .btn--black:link{
        display: inline-block;
        margin-bottom: 5rem;
    }

    /* 1000px tab-land*/
    @media only screen and (max-width: 62.5em){

    }
    /* 900px tab-port*/
    @media only screen and (max-width: 56.25em){

    }
    /* 800px tab-port*/
    @media only screen and (max-width: 50em){
        .SS1-container{
            padding: 0 5vw;
        }
        .SS1-name{
            bottom: -10rem;
            top: unset;
        }
        .SS1-content{
            display: block;
        }
        .SS1-image{
            width: 80%;
            height: 70rem;
            margin: 0 auto;
            background-size: contain;
        }
        .SS1-spec{
            width: 90%;
        }
    }
    /* 750px tab-port*/
    @media only screen and (max-width: 46.875em){

    }
    /*700px*/ 
    @media only screen and (max-width: 43.75em){
        .SS1-spec-table{
            display: block;
        }
        .SS1-spec-tableL{
            width: 100%;
            margin-right: 0;
        }
    }
    /* 650px */
    @media only screen and (max-width: 40.625em){
        .SS1-image{
            background-size: cover;
        }
    }
    /*600px*/ 
    @media only screen and (max-width: 37.5em){

    }
    /*500px*/
    @media only screen and (max-width: 31.25em){
        .SS1-name{
            font-size: 3.6rem;
        }
        .SS1-shortDescription01, .SS1-shortDescription02{
            font-size: 1.8rem;
        }
        .SS1-shortDescription{
            width: 90%;
            margin: 0 auto;
        }
        .SS1-spec{
            margin: 0 auto;
        }
        .SS1-spec-title{
            font-size: 3.6rem;
        }
        .SS1-spec-includes, .SS1-spec-pricing{
            font-size: 1.8rem;
        }
        .SS1-height-text, .SS1-width-text, .SS1-depth-text, .SS1-height-value, .SS1-width-value, .SS1-depth-value{
            font-size: 1.8rem;
        }
        .btn--black, .btn--black:visited, .btn--black:link{
            display: block;
            width: 15rem;
            margin: 2rem 0 5rem auto;
        }
    }
    /*400px*/
    @media only screen and (max-width: 25em){
        .SS1-content{
            padding: 10rem 0 0 0;
        }
        .SS1-name{
            bottom: -6rem;
            font-size: 3.2rem;
        }
        .SS1-shortDescription{
            width: 100%
        }
        .SS1-image{
            margin: 3rem auto 0 auto;
            height: 50rem;
            width: 90%;
        }
        .SS1-spec{
            width: 100%;
        }
        .SS1-spec-title{
            font-size: 3.2rem;
            text-align: left;
        }
    }
</style>