<section class="locations">
    <div class="locations-container">
        <div class="locations__title">Constantly working to get closer and closer to you!</div>
        <div class="locations__subtitle">Find your nearest Soapstand and refill <span>today</span>.</div>
        <div class="locations__subtitle locations__subtitle02">Select your desired station and see the cleaning products it carries</div>
        <div class="locations-page__map-container">
            <div class="elfsight-sapp-61504c44-d10e-4419-ac16-261dce2d91fc"></div>                    
        </div>
        <div class="locations__title">Want us closer?<br>tell us where we're needed</div>
        <a href="/pages/contact" class="btn">contact us</a>                
    </div>
</section>

<style>
    .locations{
        width: 100%;
        background: var(--color-white);
        position: relative;
    }
    .locations-container{
        max-width: 1450px;
        margin: 0 auto;
        width: 90%;
        min-height: 50rem;
        height: auto;
        margin-top: -50px;
        padding: 13rem 4rem 8vw 4rem;
        position: relative;
    }

    .locations__title{
        font-size: 5rem;
        color: var(--color-dark-blue);
        font-weight: 700;
        width: 95%;
        padding: 8rem 0 3rem 0;
    }

    .locations__subtitle{
        font-weight: 400;
        font-size: 3.2rem;
        color: var(--color-dark-blue);
    }
    .locations__subtitle02{
        margin-top: 1.5rem;
        margin-bottom: 5vw;
    }
    .locations__subtitle02, .locations__subtitle span{
        font-weight: 700;
    }
    .locations-page__map-container{
        width: 100%;
        background: var(--color-water);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 15px;
        position: relative;
    }
    .elfsight-sapp-61504c44-d10e-4419-ac16-261dce2d91fc{
        width: 100%;
        text-align: left;
    }
    .eapps-google-maps-bar-search-wrapper{
        background: var(--color-white);
    }
    .eapps-google-maps-bar-search-input{
        border-radius: 25px;
        border: 2px solid var(--color-dark-blue);
    }
    .eapps-google-maps-bar-search-buttons{
        background: var(--color-dark-blue);
        border-radius: 25px;
    }
    .eapps-google-maps-bar-search-buttons svg, .eapps-google-maps-bar-search-location svg{
        fill: var(--color-white);
    }
    .eapps-google-maps-bar-search-location{
        background: var(--color-dark-blue);
        border-radius: 25px;
    }
    .eapps-google-maps-bar-button{
        background: var(--color-dark-blue);
    }
    .eapps-google-maps-bar-list-item{
        background: var(--color-bubbles);
        margin: 5px;
    }
    .eapps-google-maps-bar-list-item-info-title{
        font-family: 'Montserrat', sans-serif;
        color: var(--color-dark-blue);
        font-weight: 700;
        font-style: normal;
    }
    .eapps-google-maps-bar-list-item-info-item{
        color: var(--color-dark-blue);
        font-family: 'Montserrat', sans-serif;
    }
    
  /* 1000px tab-land*/
  @media only screen and (max-width: 62.5em){
    .locations-container{
        padding: 13rem 0rem;
    }
  }
  /* 800px tab-port*/
  @media only screen and (max-width: 50em){
    .locations__title{
        width: 100%;
        font-size: 4.2rem;
    }
    .locations__subtitle{
        font-size: 2.8rem;
    }
  }
  /*600px*/ 
  @media only screen and (max-width: 37.5em){
    .locations__title{
        font-size: 3.8rem;
        padding: 5rem 0;
    }
    .locations__subtitle{
        font-size: 2.4rem;
    }
  }
  /*500px*/
  @media only screen and (max-width: 31.25em){
    .locations__title{
        font-size: 3.6rem;
    }
    .locations__subtitle{
        font-size: 2.2rem;
    }
    #eapps-google-maps-1.eapps-google-maps{
        height: 600px;
    }
  }
  /*400px*/
  @media only screen and (max-width: 25em){
    .locations-container{
        padding: 13rem 0rem 8rem 0;
    }
  }
</style>